<div class="container m-5 p-4 text-center " >
    <h1>Gallery</h1>
</div>

<div class="container">
    <div class="d-flex justify-content-center">
        <div *ngFor="let gallery of galleries" class="p-2 mx-4">
            <div [ngStyle]="{
                'cursor': 'pointer',
                'color': selected == gallery ? 'red': 'black', 
                'border-bottom': selected == gallery ? '3px solid red': 'none'
            }"     
                (click)="setActive(gallery)">
                <b>{{ gallery }}</b>
            </div>
        </div>
    </div>

    <hr class="divider">
</div>

<div class="container">
    <ngx-masonry [options]="masonryOptions" [ordered]="true" [ngStyle]="{'width': '100%'}">
        <div ngxMasonryItem class="masonry-item my-2" *ngFor="let image of images" [ngStyle]="{'width': '31%'}">
            <img [src]="image" width="100%"/>    
        </div>
    </ngx-masonry>
</div>











