.title{
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.slide-show{
    text-align: center;
    padding-bottom: 300px;
    background-color: rgb(190, 177, 177);
    padding-top: 50px;
}

