.main-canvas-no-hover {
  width: 10rem;
  height: 14rem !important;
  padding: 0.5rem;
}
.rounded-lg {
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.contribution-scroller {
  height: 50rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.bg-image-blue-inner-account {
  // background-image: url(../../assets/images/bg-blue-inner.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  padding-bottom: 15rem;
}
