<app-modal-template #modalTemplates></app-modal-template>
<div class="container-fluid p-0">
  <div
    class="bg-medium-blue p-5 rounded-bottom-right"
    style="border-bottom: 5px solid #cea374"
  >
    <div class="row">
      <div class="col row">
        <div class="col">
          <img
            src="/assets/account/template-profile.png"
            class="img-fluid"
            alt=""
          />
        </div>

        <div class="col">
          <h4 class="text-white mt-5">Surname Full name</h4>
          <p class="text-white mt-2">Description</p>
        </div>
      </div>
      <div class="col-12 col-sm-9 row">
        <div class="col-12 col-sm-8">
          <h2>Account Information</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore.
          </p>
        </div>
        <div class="col d-flex flex-column">
          <div class="my-2 ms-auto">
            <button type="button" class="rounded-pill btn-khali">
              Edit Account
            </button>
          </div>
          <div class="my-2 ms-auto">
            <button type="button" class="rounded-pill my-2 btn-khali">
              Upload
            </button>
          </div>
          <div class="my-2 ms-auto">
            <button
              type="button"
              class="rounded-pill btn-khali"
              (click)="modalTemplates?.openLogoutModal()"
            >
              Log out
            </button>
          </div>
          <div class="my-2 ms-auto" *ngIf="isAdmin">
            <a
              class="rounded-pill my-2 btn-orange-red"
              routerLink="/admin/approval"
            >
              View Public Contributions
            </a>
          </div>
          <div class="my-2 ms-auto" *ngIf="isAdmin">
            <button
              type="button"
              class="rounded-pill btn-khali"
              (click)="modalTemplates?.openAnnounceModal()"
            >
              Edit Announcement
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center text-dark display-6">Your Contributions</div>
  <div
    class="rounded-start rounded-pill border-start-0 my-2 border border-khaki"
  >
    <div class="row m-0">
      <div class="col-12 col-md-2">
        <img
          src="/assets/homepage/default-profile.png"
          class="img-fluid rounded-circle"
          alt=""
        />
      </div>
      <div class="col-12 col-md-3">
        <h4>Title</h4>
        <p>Description</p>
        <p>email</p>
      </div>
      <div class="col-12 col-md-7 ms-auto p-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure
      </div>
    </div>
  </div>
</div>
<br><br><br><hr>
<div class="container-fluid">
  <div class="text-center">
    <h2 class="text-center">Upload Content</h2>
    <p>Name Surname</p>
    <input size=";">
    <br><br>
    <p>Occupation</p>
    <select style="width:100px;">
      <option value="volvo">Student</option>
      <option value="volvo">Other</option>
    </select>
    <br><br>
    <p>Chinese Ethnic Group</p>
    <select>
      <option value="volvo">Han</option>
      <option value="volvo">Other</option>
    </select>
  </div>
  <br><br>
  <div class="text-center">
    <p>Status: 
      <input type="radio" name="status" value="huey">
      <label for="huey">Alive</label>
      <input type="radio" name="status" value="dewey">
      <label for="dewey">Deceased</label>
    </p>
  </div>
  <div class="text-center">
    <p>Gender: 
      <input type="radio" name="gender" value="huey">
      <label for="huey">Male</label>
      <input type="radio" name="gender" value="dewey">
      <label for="dewey">Female</label>
    </p>
  </div>
  <div class="text-center">
    <h4>Add Content</h4>
    <textarea name="content" rows="10" cols="30"></textarea>
  </div>
  <div class="text-center">
    <h4>Add Memoir</h4>
    <textarea name="content" rows="5" cols="30"></textarea>
    
  </div>
  <div class="text-center">
    <textarea name="content" rows="10" cols="30"></textarea>
  </div>
  <br>
  <div class="text-center border" style="margin-left:25%; margin-right:25%;">
    <br>
    <p>
      Upload a picture
    </p>
    <input type="file"
    id="avatar" name="avatar"
    accept="image/png, image/jpeg">
    <p>
      <br>
      Include this image in gallery
      <button>Yes</button>
      <button>No</button>
    </p>
  </div>

  <br><br>
  <div class="text-center">
    <button>Add another memoir</button>
  </div>
  <br>
  <div class="text-center">
    <button>Clear</button>
    <button>Submit</button>
  </div>
</div>
