<button
  type="button"
  class="btn p-0 rounded-circle position-fixed bottom-0 end-0 m-3 border-success"
  (click)="openContactUsModal()"
>
  <img
    src="/assets/contact-us/chat-bubble.png"
    class="m-2"
    alt="Contact Us"
    width="40"
  />
</button>

<ng-template #contactUsTemplate>
  <div class="modal-header">
    <h4 class="modal-title text-center">Contact Us</h4>
    <button type="button" class="btn-close close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <div class="modal-body" [formGroup]="contactForm">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        placeholder="First and last name"
      />
    </div>
    <div class="mb-3">
      <label for="contactMessage" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3">
      <label for="contactMessage" class="form-label">Message</label>
      <textarea
        class="form-control"
        id="contactMessage"
        formControlName="message"
        rows="3"
        placeholder="Your message here..."
      ></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">
      Close
    </button>
    <button
      type="button"
      (click)="ngSubmit()"
      class="btn btn-primary"
      [disabled]="contactForm.invalid"
    >
      Submit
    </button>
  </div>
</ng-template>
