<div class="container-fluid px-0 text-center bg-image-blue bg-white">
  <div class="bg-colors">
    <div class="bg-image-blue-inner bg-image-blue-inner-pb-10">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 py-3 m-auto text-white">
        <h2 class="pt-5">{{ curHeaderTitle }}</h2>
        <div class="py-5 text-center">
          <div
            class="btn-group w-100"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="terms"
              autocomplete="off"
              value="T"
              [(ngModel)]="curView"
              checked
            />
            <label class="btn btn-jade w-100 border-0 fw-bold" for="terms">
              {{ "terms.terms" | translate }}</label
            >

            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="privacy"
              autocomplete="off"
              value="P"
              [(ngModel)]="curView"
            />
            <label
              class="btn btn-jade w-100 fw-bold border-end border-start"
              for="privacy"
            >
              {{ "terms.privacy" | translate }}</label
            >

            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="faq"
              autocomplete="off"
              value="F"
              [(ngModel)]="curView"
            />
            <label class="btn btn-jade w-100 border-0 fw-bold" for="faq">{{
              "terms.questions" | translate
            }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5 border shadow p-4 rounded border-success">
  <div [ngSwitch]="curView">
    <div *ngSwitchCase="'P'">
      <h5 class="py-2 fw-bold">{{ "terms.privacy" | translate }}</h5>
      <h5 class="fw-bold">{{ "terms.overview" | translate }}</h5>
      <p class="py-2">{{ "terms.privacy_para_one" | translate }}</p>
      <h5 class="fw-bold">{{ "terms.privacy_para_two" | translate }}</h5>
      <p>{{ "terms.privacy_para_three" | translate }}</p>
      <p class="pb-3">{{ "terms.privacy_para_four" | translate }}</p>
      <h6 class="fw-bold">{{ "terms.privacy_para_five" | translate }}</h6>
      <p class="pb-3">{{ "terms.privacy_para_six" | translate }}</p>
      <p class="text-muted">
        <strong>{{ "terms.privacy_note" | translate }}</strong>
        {{ "terms.privacy_note_para" | translate }}
      </p>
    </div>
    <div *ngSwitchCase="'F'">
      <h5 class="py-2">{{ "terms.questions_one" | translate }}</h5>
      <ol class="pb-4">
        <li>
          <h6 class="fw-bold">{{ "terms.questions_two" | translate }}</h6>
          <p>{{ "terms.questions_three" | translate }}</p>
        </li>
        <li>
          <h6 class="fw-bold">
            {{ "terms.questions_four" | translate }}
          </h6>
          <p>{{ "terms.questions_five" | translate }}</p>
        </li>
        <li>
          <h6 class="fw-bold">{{ "terms.questions_six" | translate }}</h6>
          <p>{{ "terms.questions_seven" | translate }}</p>
        </li>
        <li>
          <h6 class="fw-bold">{{ "terms.questions_eight" | translate }}</h6>
          <p>{{ "terms.questions_nine" | translate }}</p>
        </li>
      </ol>

      <h6 class="fw-bold">{{ "terms.questions_ten" | translate }}</h6>
      <p>
        If you have questions about the Terms & Conditions or the website,
        please contact stip@gmu.com
      </p>
    </div>
    <div *ngSwitchDefault>
      <p class="pb-3">
        The Chinese Rightist Archive created its website to promote awareness of
        human rights and social justice for the individuals that were involved
        in the Anti-Rightist Campaign. Our archival collection contains
        documentation and historic materials that were given by the victims and
        their descendants affected by this campaign. Visitors are encouraged to
        use this website for educational and research purposes as well as
        sharing contributions to the field of digital curation in accordance
        with these Terms
      </p>
      <h5>COPYRIGHT AND PERMISSIONS</h5>
      <p class="pb-3">
        This site currently contains over 40,000 documents which are owned by
        the Chinese Rightist Archive. The documents provided are for
        noncommercial teaching and research use. You may not copy, publish,
        post, distribute, or otherwise make or sell the document available to
        others. If you wish to make any such use of the documents provided, you
        must obtain permission from the copyright holder, which may be the
        Chinese Rightist Archive.
      </p>
      <p class="pb-3">
        Some of the text, images, and other content (mainly in the “About
        Movement” and "Gallery” page) contains copyrighted material of which has
        not always been authorized by the copyright owner. Such material is made
        available in an effort to advance understanding of the country or topic
        discussed in the article. This constitutes 'fair use' of any such
        copyrighted material as provided for in section 107 of the US Copyright
        Law. In accordance with Title 17 U.S.C. Section 107, the material on
        this site is distributed without profit. If you wish to use copyrighted
        material from this site for purposes of your own that go beyond 'fair
        use', you must obtain permission from the copyright owner. If you are
        the copyright owner and would like this content removed from
        https://stip-demo.web.app/home, please contact stip@gmu.edu
      </p>
      <h5>TERMS OF USE</h5>
      <div class="pb-3">
        <p>When using documents from the “Collections” page, you agree to:</p>
        <ol>
          <li>
            Cite the “Chinese Rightist Archive' as the source of all the
            documents, as well as any contributors that may be listed with the
            document.
          </li>
          <li>
            Link to the “Chinese Rightist Archive” website as the source of the
            “Rightist” documents.
          </li>
          <li>
            Ensure that you do not state or imply that the Chinese Rightist
            Archive endorses you, any third party, or any products, services, or
            opinions.
          </li>
        </ol>
      </div>
      <p>
        <small class="text-muted"
          >Effective date for these legal terms: August 1, 2022</small
        >
      </p>
    </div>
  </div>
</div>
