<div class="container-fluid">
    <h2 class="text-center mt-5">Modification Request Form</h2>
    <div class="ms-5 ps-5 me-5 pe-5 mb-5">
        <p>File Identification:<p>
            <p>Modification Request</p>
            <textarea class="form-control" id="modRequest" rows="3"></textarea>
            <p>Reasoning behind request</p>
            <textarea class="form-control" id="modReason" rows="3"></textarea>
            <br>
            <button class="btn btn-dark">Submit Request</button>
    </div>
    
</div>
