<div class="container-fluid">
  <h2 class="text-center mt-5">Modification Request Form</h2>

  <div class="row ms-5 ps-5 me-5 pe-5">
    <div class="col-8 mx-auto">
      <p>File Identification:</p>
      <p></p>
      <p>Modification Request</p>
      <textarea
        class="form-control"
        id="modRequest"
        rows="10"
        placeholder="Type what you wish to modify here..."
      ></textarea>
      <br /><br />
      <p>Reasoning behind request</p>
      <textarea class="form-control" id="modReason" rows="5"></textarea>
      <br /><br />
      <button class="btn btn-dark float-end">Submit Request</button>
    </div>
  </div>
</div>
