<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-light border-khaki"
  data-bs-toggle="modal"
  data-bs-target="#modifyModal"
>
  Request to Modify
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="modifyModal"
  tabindex="-1"
  aria-labelledby="modifyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modifyLabel">Modify Request</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" novalidate>
          <label for="request" class="form-label">Modification Request</label>
          <textarea
            class="form-control"
            id="request"
            value="Mark"
            rows="6"
            required
            placeholder="What are you requesting to modify?"
            required
          ></textarea>
          <br /><br />
          <label for="reson" class="form-label">Resoning Behind Request</label>
          <textarea
            class="form-control"
            id="reson"
            rows="6"
            required
            placeholder="Why should this file be modified?"
          ></textarea>
          <br /><br />
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="name@example.com"
            required
          />
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">
              Submit Request
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
