<!-- Button trigger modal -->
<button
  type="button"
  class="btn rounded-pill shadow border-green"
  (click)="openModModal()"
>
  <img src="assets/browsepage/request-to-modify.svg" alt="" width="20" />
  {{ "archive.profile_user_modify_button" | translate }}
</button>

<ng-template #modTemplate>
  <div class="modal-header">
    <h4 class="modal-title text-center">Request to Modify</h4>
    <button type="button" class="btn-close close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <div class="modal-body" [formGroup]="modForm">
    <div class="mb-3">
      <label for="request" class="form-label">Request</label>
      <textarea
        class="form-control"
        id="reason"
        formControlName="request"
        rows="5"
        placeholder="What would you like to change..."
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="reason" class="form-label">Reason</label>
      <textarea
        class="form-control"
        id="reason"
        formControlName="reason"
        rows="5"
        placeholder="Your reason for modification..."
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="name@example.com"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">
      Close
    </button>
    <button
      type="button"
      (click)="sendRequestForm()"
      (click)="openExitModal()"
      class="btn btn-primary"
      [disabled]="modForm.invalid"
    >
      Submit Request
    </button>
  </div>
</ng-template>
<ng-template #exitTemplate>
  <div class="modal-header">
    <h4 class="modal-title text-center">Submitted</h4>
    <button type="button" class="btn-close close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Thank you for you submission, your request will now be reviewed by the
      admin. We will notify the status of your request via email
    </p>
  </div>
</ng-template>
