<!-- Project overview header -->
<div class="container-fluid p-0 pb-3 bg-image-blue bg-white">
  <div class="bg-colors">
    <div class="container-fluid text-white p-0 m-0 bg-image-blue-inner bg-image-blue-inner-pb-15">
      <div class="container w-50 py-5">
        <h2 class="text-center py-4">Archive Project Overview</h2>
        <p class="pb-5 mb-5">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum dolore.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- What we found section -->
<div class="container text-center w-50 my-4">
  <h2 class="text-center pb-4">Research and what we found</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore.
  </p>
</div>

<!--Graphs-->
<div class="container w-100 my-5">
  <div class="row">
    <div class="col-8 text-left">
      <app-chart
        *ngIf="rightistYearData.length != 0"
        id="rightistYearBarChart"
        type="bar"
        [data]="rightistYearData"
        [total]="total"
      ></app-chart>
    </div>
    <div class="col-4 text-end align-self-center">
      <h2>Data</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore.
      </p>
    </div>
  </div>
  <div class="row row-gap">
    <div class="col-4 text-start align-self-center">
      <h2>Data</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore.
      </p>
    </div>
    <div class="col-8 text-end" id="chartElement">
      <div id="chart" class="chart-container"></div>
    </div>
  </div>
</div>

<!-- Summary section -->
<div class="container w-50 my-4 text-center">
  <h2>Summary</h2>
  <p>
    Lorem ipsum dolor sit am, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore.
  </p>
  <div class="my-5">
    <div class="col-10 mx-auto">
      <button
        class="btn btn-success rounded-pill btn-lg"
        routerLink="/meetTeam"
      >
        Meet the team behind the research
      </button>
    </div>
  </div>
</div>
