<app-login #login></app-login>
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark-blue row">
    <div class="container-fluid">
      <a class="navbar-brand h2 text-white px-4" routerLink="/home">Logo</a>
      <button
        class="navbar-toggler"
        #navbarToggler
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarMobile"
        aria-controls="navbarMobile"
        [attr.aria-expanded]="!isCollapsed"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse row" id="navbarMobile">
        <h5 class="col-12 m-0">Chinese Anti-Rightist Archives</h5>
        <ul class="nav nav-underline nav-fill me-auto mb-2 col-auto">
          <li class="nav-item" *ngFor="let item of navbars">
            <a
              class="nav-link text-white rounded-top"
              routerLinkActive="active"
              [routerLink]="item.url"
              >{{ item.title }}</a
            >
          </li>
        </ul>
        <div class="col-auto">
          <div class="mx-5">
            <div class="input-group input-group-sm">
              <input
                type="search"
                class="form-control rounded-end rounded-pill"
                placeholder="Search for Archives"
                aria-label="Search for Archives"
                aria-describedby="searh_btn"
              />
              <button
                class="btn border border-start-0 bg-white rounded-start rounded-pill "
                type="button"
                id="searh_btn"
              >
                <img src="assets/homepage/search.png" alt="globe" width="15" />
              </button>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="mx-2 mt-2">
              <img
                src="assets/homepage/united-states.png"
                alt="globe"
                width="30"
              />
              ENGLISH
            </div>
            <div class="mx-2 mt-2">
              <img src="assets/homepage/china.png" alt="globe" width="30" />
              CHINESE
            </div>
            <div class="mx-3" *ngIf="!isLoggedIn">
              <button
                type="button"
                class="btn text-white"
                (click)="loginLogin()"
              >
                <!-- {{ isLoggedIn ? "Log out" : "Log in" }} -->
                LOG IN / SIGN UP
              </button>
            </div>
            <div class="nav nav-underline nav-fill mx-3" *ngIf="isLoggedIn">
              <a
                class="nav-link text-white rounded-top"
                routerLinkActive="active"
                routerLink="/account"
                >ACCOUNT</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
