<app-login #login></app-login>
<app-modal-template #modalTemplates></app-modal-template>
<header class="sticky-top">
  <nav
    class="navbar p-0 m-0 navbar-expand-lg navbar-light bg-dark-blue mw-100 row"
  >
    <div class="container-fluid">
      <a class="navbar-brand h2 text-white px-4" routerLink="/home">
        <img src="assets/homepage/logo.svg" />
      </a>
      <button
        class="navbar-toggler"
        #navbarToggler
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarMobile"
        aria-controls="navbarMobile"
        [attr.aria-expanded]="!isCollapsed"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse row" id="navbarMobile">
        <div class="col-12 my-1 d-flex flex-row">
          <h5 class="m-0 py-0">Chinese Anti-Rightist Archives</h5>
          <div class="ms-auto">
            <div class="input-group input-group-sm">
              <input
                type="search"
                class="form-control rounded-end rounded-pill"
                placeholder="Search for Archives"
                aria-label="Search for Archives"
                aria-describedby="searh_btn"
              />
              <button
                class="btn border border-start-0 bg-white rounded-start rounded-pill"
                type="button"
                id="searh_btn"
              >
                <img src="assets/homepage/search.png" alt="globe" width="15" />
              </button>
            </div>
          </div>
        </div>
        <ul class="nav nav-underline nav-fill me-auto my-0 py-0 col-auto">
          <li
            class="nav-item"
            *ngFor="let item of navbars"
            [ngClass]="{ dropdown: item.dropdown }"
          >
            <a
              *ngIf="!item?.dropdown"
              class="nav-link text-white rounded-top"
              routerLinkActive="active"
              [routerLink]="item.url"
              >{{ item.title }}</a
            >
            <a
              *ngIf="item?.dropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              class="nav-link text-white rounded-top dropdown-toggle"
              [id]="item.icon"
              >{{ item.title }}</a
            >
            <ul class="dropdown-menu" [attr.aria-labelledby]="item.icon">
              <li *ngFor="let drop of item.dropdown">
                <a class="dropdown-item" [routerLink]="drop.url">{{
                  drop.title
                }}</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="col-auto my-0">
          <div class="d-flex flex-row m-2">
            <div class="mx-4 mt-2">
              <img
                src="assets/homepage/united-states.png"
                alt="globe"
                width="30"
              />
              English
            </div>
            <div class="mx-4 mt-2">
              <img src="assets/homepage/china.png" alt="globe" width="30" />
              Chinese
            </div>
            <div class="mx-3" *ngIf="!isLoggedIn">
              <button
                type="button"
                class="btn text-white"
                (click)="loginLogin()"
              >
                LOG IN / SIGN UP
              </button>
            </div>
            <div
              class="nav nav-underline nav-fill dropdown mx-3"
              *ngIf="isLoggedIn"
            >
              <a
                aria-expanded="false"
                class="nav-link text-white rounded-top dropdown-toggle"
                data-bs-toggle="dropdown"
                id="account_btn"
                role="button"
                >ACCOUNT</a
              >
              <ul class="dropdown-menu" aria-labelledby="account_btn">
                <li>
                  <a class="dropdown-item" routerLink="account">Account</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="upload">Upload</a>
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    routerLink=""
                    (click)="modalTemplates?.openLogoutModal()"
                    >Log out</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <alert
    type="info mb-0"
    [dismissible]="true"
    [hidden]="count <= 0 || !message"
    (onClose)="count = 0"
  >
    <div class="d-flex">
      <div class="flex-grow-1 message ml-4">{{ message }}</div>
      <div>{{ count }}</div>
    </div>
  </alert>
</header>
