<div class="container">
  <h2 class="text-center my-4 fw-bold">
    {{ "repository.repository_top_title" | translate }}
  </h2>

  <div class="d-flex justify-content-center flex-wrap">
    <div
      *ngFor="let title of repository_titles; let i = index"
      class="p-2 mx-4"
    >
      <button
        #image
        [ngClass]="{
          'border-3 btn-underline-orange-red ': selectedCategory == title[i],
          btn: selectedCategory != title[i]
        }"
        class="fw-bold"
        (click)="setActive(title[i])"
      >
        <b>{{ title[0] }}</b>
      </button>
    </div>
  </div>
  <br />
  <br />
  <div>
    <div *ngFor="let title of repository_titles; let i = index">
      <div
        *ngIf="selectedCategory == title[i]"
        class="row justify-content-evenly"
      >
        <b class="col-6">{{ title[1] }}</b>
        <b class="col-6">{{ title[2] }}</b>

        <!-- <div
          class="row justify-content-evenly"
          *ngFor="let filename of 'repository.title[0] }' | translate"
        >
          <b class="col-6">{{ filename }}</b>
          <div class="col-6">
            <button (click)="downloadFromAsset(filename, title[0])">
              <img src="/assets/repositoryData/icons/download.svg" />
            </button>
          </div>
        </div> -->
        hi
        <div
          class="row justify-content-evenly"
          *ngFor="let filename of this.pdf[selectedCategory]; let i = index"
        >
          {{ i }}
          hi
          <b class="col-6">{{ filename }}</b>
          <div class="col-6">
            <button (click)="downloadFromAsset(filename, title[0])">
              <img src="/assets/repositoryData/icons/download.svg" />
            </button>
          </div>
        </div>
        <div *ngIf="title[i] == title[1]">
          <h6>Imprint</h6>
          <br />
          <p>
            1. "1957 Victim Names Dictionary" since 2000 began to collect, edit,
            due to the continuous evolution of editing ideas, tailoring methods,
            but also due to the lack of time and resources, so more than ten
            years of style, format, arrangement, inevitably there are
            inconsistent situations, errors, omissions, and even irregularities,
            these readers are more critical and corrected, and gradually
            corrected and overcome.
          </p>
          <p>
            2. The project has received the care and guidance of experts and
            scholars such as Professor Ding Shu; the help of teachers of the
            China Research Service Center of the University of Chinese of Hong
            Kong and colleagues of the Wuqi Society; and the support of the
            victims and their descendants in providing historical materials and
            memoirs in 1957.
          </p>
          <p>
            3. Professor Song Yongyi's "Database of China's Anti-Rightist
            Movement 1957-" , the "Internal Reference" collected by the China
            Research Service Center of the University of Chinese of Hong Kong,
            the relevant newspaper books, the "Traces of the Past" edited and
            published by Tieliu and the Old Man of Beijing May 7, and Professor
            Guo Dehong's "Chronicle of the "Anti-Rightist Movement" (book
            manuscript), etc., are of great help to this project. The China
            Research Service Center also provides technical support.
          </p>
          <p>
            4. In 2019, the 1957 Great Dictionary of Victim Names was funded by
            the American Labor Reform Research Foundation to publish a database
            version. I would like to express my heartfelt thanks to the Laogai
            Research Foundation and colleagues, all relevant scholars, teachers,
            friends and volunteers! And please continue to help, support!
          </p>

          <p>
            Editor's Note
            <br />
            2020.8.11
          </p>
        </div>
        <div *ngIf="title[i] == title[2]"></div>

        <div *ngIf="title[i] == title[3]"></div>
      </div>
    </div>
  </div>
</div>
