<div class="container-fluid px-0">
  <div class="display-1 text-center my-4">Public Contributions</div>

  <div class="container">
    <div class="d-flex flex-md-row flex-column justify-content-center">
      <button
        [disabled]="disabled"
        *ngFor="let category of categoriesList"
        class="my-2 mx-4 p-2 category-button bg-warning fw-bold position-relative"
        (click)="setActiveCategory(category)"
        [ngClass]="{ 'bg-warning': category == activeCategory }"
      >
        {{ category }}
        <span
          *ngIf="categories[category].length != 0"
          [ngClass]="{
            'bg-danger': category == 'New Contributions',
            'bg-success': category == 'Approved Contributions',
            'bg-warning': category == 'Rejected Contributions'
          }"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
          >{{ categories[category].length }}</span
        >
        <!-- <span
          *ngIf="category == 'Approved Contributions' && pendingContributions.length != 0"
          class="bg-danger position-absolute top-0 start-0 translate-middle badge rounded-pill"
          >{{ pendingContributions.length }}</span
        > -->
      </button>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container my-4" *ngIf="selectedContributions.length == 0">
      <div class="card">
        <div class="card-header text-center p-4">
          {{ this.emptyContributionMessage }}
        </div>
      </div>
    </div> 

      <!-- Categorized Contributions -->
    <div class="container">
      
      <div
        class="row my-4 contribution-container border border-2"
        *ngFor="let contribution of selectedContributions"
        [ngClass]="
          {'border-danger': activeCategory == 'New Contributions', 
          'border-success': activeCategory == 'Approved Contributions',
          'border-warning': activeCategory == 'Rejected Contributions'} 
        "
        [@contributionAnimation]="contribution.state"
        (@contributionAnimation.start)="animationStart($event)"
        (@contributionAnimation.done)="animationDone($event)"
      >
        <div class="col-12 border border-3">
          <app-contribution 
          [contribution]="contribution" 
          [activeCategory]="activeCategory"></app-contribution>
        </div>
        <!-- <div class="container">
          <div class="col-4">
            <div class="row no-gutters my-2">          
                <div class="card-body ms-5">
                  <h4 class="card-title fw-bold">
                    {{ contribution.rightist.lastName }} {{ contribution.rightist.firstName }}
                  </h4>
                  <p class="card-text m-0">
                    Occupation: <span class="fw-bold text-capitalize">{{ contribution.rightist.job ? contribution.rightist.job : '-' }}</span>
                  </p>
                  <p class="card-text m-0">
                    Ethnic Group: <span class='fw-bold text-capitalize'>{{ contribution.rightist.ethnicity ? contribution.rightist.ethnicity : '-' }}</span>
                  </p>
                  <p class="card-text m-0">
                    Gender: <span class='fw-bold text-capitalize'>{{ contribution.rightist.gender ? contribution.rightist.gender : '-' }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 d-flex flex-column align-items-start justify-content-center">
          <div *ngFor="let event of contribution.rightist.events | slice:0:limit">
            <span>In {{ event.startYear }}, {{ event.event }}</span>
          </div>
          <div *ngIf="contribution.rightist.events.length > limit">...</div>
          <div class="align-self-end">
            <button class="btn btn-transparent" (click)="onReadMore(readMoreTemplate, contribution)">
              <span class="display-6">Read More...</span>
            </button>
          </div>
        </div>

        <div
          class="col-lg-2 col-12 d-flex align-items-center flex-column justify-content-center"
        >
          <div class="my-2 text-center">
            <p><i>
              {{ contribution.contributedAt.getMonth() + 1 }}/{{ contribution.contributedAt.getDate()}}/{{ contribution.contributedAt.getFullYear()}}
            </i></p>
          </div>
            
          <div class="d-flex justify-content-center my-2">

          <button
            (click)="onApprove(contribution)"
            class="btn btn-transparent mx-2"
            *ngIf="activeCategory == 'New Contributions'"
          >
            <span class="check-icon">&checkmark;</span>
          </button>

          <button
          (click)="onReject(contribution)"
          class="btn btn-transparent mx-2"
          *ngIf="activeCategory == 'New Contributions'"
        >
          <span class="cross-icon">&cross;</span>
        </button>

          <button 
            class="btn btn-transparent mx-2"
            *ngIf="activeCategory == 'Approved Contributions'"
          >
            <span class="pencil-icon text-warning">&#9998;</span>
          </button>

          <button 
          (click)="onReconsider(contribution)" 
          class="btn btn-transparent mx-2"
          *ngIf="activeCategory == 'Rejected Contributions'"
          >
          <span class="pencil-icon text-warning">&#8634;</span>
          </button>
          </div>
        </div>
        </div> -->
        
      </div>
    </div>
  </div>
</div>

<ng-template #readMoreTemplate>
  <app-upload 
    [contribution]="this.selectedContribution" 
    page="contribution" 
    (approve)="onApprove($event)"
    (reject)="onReject($event)"
    (reconsider)="onReconsider($event)"
    ></app-upload>
</ng-template>
