<ng-template #template>
  <!-- <div class="modal-header">
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div> -->
  <div
    class="modal-body"
    *ngIf="isSignIn === 'signup' || isSignIn === 'signin'"
  >
    <h3 class="modal-title text-center my-3">
      {{ isSignIn === "signup" ? "Create an account" : "Log In" }}
    </h3>
    <form [formGroup]="loginForm" (ngSubmit)="signUpwithEmail()">
      <div class="form-floating mb-3" *ngIf="isSignIn === 'signup'">
        <input
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName"
          [ngClass]="{
            'is-invalid':
              loginControls['firstName'].invalid &&
              loginControls['firstName'].touched
          }"
          placeholder="First name"
        />
        <label for="firstName"
          >First name <span class="text-danger">*</span></label
        >
      </div>
      <div class="form-floating mb-3" *ngIf="isSignIn === 'signup'">
        <input
          type="text"
          class="form-control"
          id="lastname"
          formControlName="lastName"
          placeholder="Last name"
          [ngClass]="{
            'is-invalid':
              loginControls['lastName'].invalid &&
              loginControls['lastName'].touched
          }"
        />
        <label for="lastname"
          >Last name <span class="text-danger">*</span></label
        >
      </div>

      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="name@example.com"
          [ngClass]="{
            'is-invalid':
              loginControls['email'].invalid && loginControls['email'].touched
          }"
        />
        <label for="email"
          >Email address <span class="text-danger">*</span></label
        >
      </div>
      <div class="form-floating mb-3" *ngIf="isSignIn === 'signup'">
        <input
          type="email"
          class="form-control"
          id="confirmEmail"
          formControlName="confirmEmail"
          placeholder="name@example.com"
          [ngClass]="{
            'is-invalid':
              loginControls['confirmEmail'].invalid &&
              loginControls['confirmEmail'].touched
          }"
        />
        <label for="confirmEmail"
          >Confirm Email address <span class="text-danger">*</span></label
        >
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          id="password"
          placeholder="Password"
          [ngClass]="{
            'is-invalid':
              loginControls['password'].invalid &&
              loginControls['password'].touched
          }"
        />
        <label for="password"
          >Password <span class="text-danger">*</span></label
        >
      </div>
      <button
        type="button"
        class="btn btn-link link-dark p-0 my-2"
        (click)="isSignIn = 'forgetpassword'; errorMessage = ''"
      >
        Forget your password?
      </button>

      <div class="d-grid gap-2 col-12">
        <ng-container *ngTemplateOutlet="errorBanner"></ng-container>
        <button
          class="btn btn-dark rounded-pill my-2"
          [disabled]="loginForm.invalid"
          type="submit"
        >
          Log in
        </button>
        <div class="linebtntext w-100">OR</div>
        <!-- <button class="btn btn-primary" type="button" (click)="logout()">temp log out</button> -->
        <button
          class="btn btn-light rounded-pill border"
          type="button"
          (click)="userFacebookLogin()"
        >
          <img
            src="assets/login/facebook1.png"
            alt="facebook"
            class="img-fluid"
            width="25"
          />
          {{ isSignIn === "signup" ? "Sign Up " : "Log In " }}with Facebook
        </button>
        <button
          class="btn btn-light rounded-pill border"
          type="button"
          (click)="userGoogleLogin();"
        >
          <img
            src="assets/login/google.png"
            alt="google"
            class="img-fluid"
            width="20"
          />
          {{ isSignIn === "signup" ? "Sign Up " : "Log In " }}with Google
        </button>
        <div class="text-center">
          {{
            isSignIn === "signin"
              ? "Don't have an account?"
              : "Already have an account?"
          }}
          <button
            class="btn btn-link p-0"
            type="button"
            (click)="switchState()"
          >
            {{ isSignIn === "signup" ? "Log In" : "Sign Up" }}
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-body" *ngIf="isSignIn === 'forgetpassword'">
    <h3 class="modal-title text-center my-3">Forget your password</h3>
    <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Enter your email..."
          [ngClass]="{
            'is-invalid':
              forgetForm.controls['email'].invalid &&
              forgetForm.controls['email'].touched
          }"
        />
        <label for="email"
          >Email address <span class="text-danger">*</span></label
        >
        <small class="text-small text-muted">
          Enter the email address you use to sign in to our website and we'll
          send you a link to reset your password.
        </small>
      </div>

      <div class="d-grid gap-2 col-12">
        <ng-container *ngTemplateOutlet="errorBanner"></ng-container>
        <button
          class="btn btn-dark rounded-pill my-2"
          [disabled]="forgetForm.invalid"
          type="submit"
        >
          Send
        </button>
        <button
          type="button"
          class="btn btn-link link-dark p-0 my-2"
          (click)="isSignIn = 'signin'; errorMessage = ''"
        >
          Back to log in
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #errorBanner>
  <alert
    type="danger"
    *ngIf="errorMessage"
    [dismissible]="true"
    (close)="errorMessage = ''"
  >
    {{ errorMessage }}
</alert>

</ng-template>
