<div class="p-4 bg-dark text-light text-center" style="height: 160px">
    <br>
    <h1>Research Overview</h1>
</div>

<div class="container-fluid bg-info p-5" style="height: 450px">
    <div class="row p-3">
        <div class="col p-3">
            <h2>What we found</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Donec imperdiet sapien lacus, nec eleifend odio euismod et. 
                Duis eu lectus feugiat, eleifend sem eget, pretium tellus. Nulla a faucibus lectus. 
                Curabitur convallis sed nibh sit amet finibus. 
                Duis aliquet volutpat ipsum, ac varius ante tristique non. 
                Phasellus pretium maximus enim, at tincidunt eros lacinia ut. 
                Nulla facilisi. Suspendisse fermentum libero nec venenatis venenatis.
            </p>
        </div>
        <div class="col">
            <img class="img-fluid" src="assets/homepage/Anti-Rightist_Movement.jpg" width="500" height="500" />
        </div>
    </div>
</div>

<div class="container-fluid" style="height: 1050px">
    <div class="row p-5 m-5">
        <div class="col">
            <img class="img-fluid" src="assets/aboutpage/graphs1.png" width="500" height="500" />
        </div>
        <div class="col">
            <h3>Description Title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Donec imperdiet sapien lacus, nec eleifend odio euismod et. 
                Duis eu lectus feugiat, eleifend sem eget, pretium tellus. Nulla a faucibus lectus. 
                Curabitur convallis sed nibh sit amet finibus. 
                Duis aliquet volutpat ipsum, ac varius ante tristique non. 
                Phasellus pretium maximus enim, at tincidunt eros lacinia ut. 
                Nulla facilisi. Suspendisse fermentum libero nec venenatis venenatis.
            </p>
        </div>
    </div>
    <br><br><br>
    <div class="row my-3 mx-5">
        <div class="col mx-5">
            <h3>Description title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Donec imperdiet sapien lacus, nec eleifend odio euismod et. 
                Duis eu lectus feugiat, eleifend sem eget, pretium tellus. Nulla a faucibus lectus. 
                Curabitur convallis sed nibh sit amet finibus. 
                Duis aliquet volutpat ipsum, ac varius ante tristique non. 
                Phasellus pretium maximus enim, at tincidunt eros lacinia ut. 
                Nulla facilisi. Suspendisse fermentum libero nec venenatis venenatis.
            </p>
        </div>
        <div class="col">
            <img class="img-fluid" src="assets/aboutpage/graphs1.png" width="500" height="500" />
        </div>
    </div>
</div>

<hr style="border-top:2px solid; width:50%; margin:auto;">
<br><br>

<div class="container-fluid text-center my-5" style="height:auto;">
    <h2>Meet the team</h2>
    <br><br>
    <div class="row mx-5 text-center">
        <div class="col-12 col-md-4" *ngFor="let profile of fakeProfile">
            <div class="text-center">
                <img class="img-fluid" style="border-radius: 50%;"src="assets/homepage/{{profile.profile}}" width="200" height="200" />
            </div>
            <div class="text-center">
                <h4 class="text-dark">{{profile.name}}</h4>
                <p>{{profile.email}}</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <br><br>
            </div>
        </div>
    </div>
</div>
<hr style="border-top:2px solid; width:50%; margin:auto;">
<br><br>
<div class="container text-center">
    <h2 class="text-center">Contact Us</h2>
    <br><br>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" placeholder="placeholder">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder="placeholder">
        <label for="floatingPassword">Name</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" placeholder="Comment" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
      <br>
      <div class="d-grid gap-2 col-4 mx-auto">
        <button type="button" class="btn btn-primary ">Submit</button>
      </div>
      
</div>
<br><br><br><br>




  
