.title{
    margin-top:70px;
    margin-bottom: 200px;
}

.what-we-found{
    padding-bottom: 200px;
    padding-top: 50px;
    background-color: rgb(104, 190, 247);
}

.about-p{
    text-align:center;
    padding:50px;
}

.charts-graphs{
    padding-bottom:300px;
    padding-top:50px;
}

.meet-team{
    padding-bottom:300px;
    padding-top:100px;
}

.contact-us{
    padding-bottom:300px;
    padding-top:100px;
    background-color: rgb(104, 190, 247);
}