

<div class="title">
    <h2 style="text-align:center;">Research Overview</h2>
</div>

<div class="what-we-found" style="text-align:center;">
    <h3>What we found</h3>
    <p class="about-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex
        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat
        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit
        anim id est laborum.</p>
    <img class="img-fluid" src="assets/aboutpage/research.jpeg">
</div>

<div class="charts-graphs" style="text-align:center;">
    <h3>graphs and charts</h3>
</div>

<hr style="margin:auto; width:70%; border-top:3px solid;">

<div class="meet-team">
    <h3 style="text-align:center;">Meet the team</h3>
    <ul class="team-profile">
        <li>
            <div class="container">
                <img class="img" src="https://picsum.photos/200?greyscale">
                <div class="overlay">My name is John</div>
            </div>
            
        </li>
        <li>
            <div class="container">
                <img class="img" src="https://picsum.photos/seed/picsum/200">
                <div class="overlay">My name is John</div>
            </div>
        </li>
        <li>
            <div class="container">
                <img class="img" src="https://picsum.photos/seed/picsum/200">
                <div class="overlay">My name is John</div>
            </div>
        </li>
        <li>
            <div class="container">
                <img class="img" src="https://picsum.photos/seed/picsum/200">
                <div class="overlay">My name is John</div>
            </div>
        </li>
        <li>
            <div class="container">
                <img class="img" src="https://picsum.photos/200">
                <div class="overlay">My name is John</div>
            </div>
        </li>
        <li>
            <div class="container">
                <img class="img" src="https://picsum.photos/200?grayscale">
                <div class="overlay">My name is John</div>
            </div>
        </li>
        <li>
            <div class="container">
                <img class="img" src="https://picsum.photos/200?grayscale">
                <div class="overlay">My name is John</div>
            </div>
        </li>
        <li>
            <div class="container">
                <img class="img" src="https://picsum.photos/200?grayscale">
                <div class="overlay">My name is John</div>
            </div>
        </li>
    </ul>

</div>
<div class="contact-us">
    <h3 style="padding-left: 35%;">Contact Us</h3>
    <form class="input-form" method="post">
        <label for="data__YourName">
            <span class="required"></span>
            <p style="padding-top: 30px;">Your Name:</p>
        </label>
        <p><input size="35" type="text" name="data__YourName" id="data__YourName" value></p>
        
        <label for="data__YourEmail">
            <span class="required"></span>
            <p>Your Email:</p>
        </label>
        <p><input style="width=100%;" size="35" type="text" name="data__YourEmail" id="data__YourEmail" value></p>

        <label for="data__YourMsg">
            <span class="required"></span>
            <p>Your Message:</p>
        </label>
        <p><textarea name="data__Comments" id="data__Comments" cols="50" rows="10" wrap="soft"></textarea></p>
    </form>
    <input type="submit" class="subm-btn" value="Submit">
</div>



  
