<div class="bg-home-light">
    <div class="container-fluid bg-home-blue">
        <div class="container py-4 text-center">
            <h2 class="my-3">Chinese Anti-Rightists Archives</h2>
            <div class="m-5 px-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <img src="" width="100" height="300" />
    </div>
    <div class="container-fluid bg-home-blue rounded-bottom-left">
        <div class="container py-4 text-center">
            <h2 class="my-3">Timeline</h2>
            <div class="m-5 px-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.
            </div>
        </div>
    </div>
</div>
<div class="bg-home-blue">
    <div class="container-fluid bg-home-light rounded-bottom-right py-5">
        <div class="row mx-5">
            <div class="col-12 col-md-4" *ngFor="let profile of fakeProfile">
                <div class="text-center">
                    <img src="assets/homepage/default-profile.jpg" class="rounded-circle" width="200" height="200" />
                </div>
                <div class="text-center">
                    <h4 class="text-dark">{{profile.name}}</h4>
                    <p>{{profile.email}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-3">
        <div class="row-col-1 bg-home-light m-5">
            <img src="" width="100" height="300" />
        </div>
    </div>
    <div class="container-fluid bg-home-blue">
        <div class="container py-4 text-center">
            <h2 class="my-3">Map</h2>
            <div class="m-5 px-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.
            </div>
        </div>
    </div>
</div>
.