<div class="text-white" style="background-color:rgb(0, 0, 0);">
  <br><br>
  <h2 class="text-center">Chinese Anti-Rightists</h2>
  <h2 class="text-center mb-4">Archive</h2>
  <br>
  <p class="mx-auto" style="width: 700px; line-height: 200%">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore. velit esse cillum dolore.
  </p>
  <br>
  <div class="d-flex justify-content-center pb-5">
    <i class="fa fa-search"></i>
    <input type="text" class="form-control rounded-pill" style="flex: 0 1 700px; height:50px" placeholder="Search the Archive">
    <button class="btn btn-primary rounded-pill bg-black">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </button>
  </div> 
  <br>
</div>

<div class=" text-white text-center"style="background-color:rgb(79, 79, 79)">
  <h3 class="p-5">Featured Contributers of the Anti-Rightists Movement</h3>
  <div class="row mx-5 text-center">
    <div class="col-9 col-md-4" *ngFor="let profile of fakeProfile">
        <div class="text-center">
            <img class="img-fluid" style="border-radius: 50%;"src="assets/homepage/{{profile.profile}}" width="200" height="200" />
        </div>
        <div class="text-center">
            <h4 class="text-dark">{{profile.name}}</h4>
            <p>{{profile.email}}</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <br><br>
        </div>
    </div>
  </div>
</div>

<div class="m-5">
  <h3 class="text-center m-4">Movement Brief</h3>
  <p class="mx-auto" style="width: 700px; line-height: 200%">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore. amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
  </p>
  <br><br><br>
  <h3 class="text-center m-4">Timeline</h3>
  <p class="m-auto" style="width: 700px; line-height: 200%">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore.
  </p>
</div>
