

.sticky {
  position: sticky;
  top: 4rem;
}

.scrollable {
  max-height: 25rem;
  overflow-y: auto;
}


.limit-content {
    display: -webkit-box;
    -webkit-line-clamp: 100;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  
}

.formatted {
  white-space: pre-wrap;
}


