<div class="bg-dark">

    <div class="row">
        <div class=" row ">

            <div class="mt-5 row position-relative align-items-center container-fluid" >

                <img src="assets\browsepage\tempprofile.png" class="rounded-circle position-absolute mx-5" style="z-index:2 ;width:10% ;" >
                <div class="col-9 bg-light rounded-pill align-items-center position-absolute " style="height: 100%; z-index: 1;" >
                    <div class="">
                        <div>Name</div>
                        <div class="pb-3">Occupation</div>
                    </div>

                </div>
            </div>


            <!-- <div class="ms-5 position-relative" style="z-index:3; top: 5px;">
                <img src="assets\browsepage\tempprofile.png" class="rounded-circle border" >
            </div>
            <div class="d-flex align-items-center position-relative" style="height: 25vh; z-index:1; ;">
                <div class="col-4 bg-light rounded-pill align-items-center" >
                    <div class="">
                        <div>Name</div>
                        <div class="pb-3">Occupation</div>
                    </div>

                </div>
            </div> -->

            <div class="col-3 d-inline-block">
                <a class="btn btn-primary " href="#" role="button">Link</a>
            </div>

        </div>

        <div class="row bg-light  my-3">
            <div class="col-1 ">
                <ul class="list-group ">
                    <li class="list-group-item border-0">
                        <label class="border-bottom border-dark fw-bold"> Additional Files&emsp;</label>
                    </li>
                    <li class="list-group-item border-0">
                        <img src="assets\browsepage\fileIcon.png" class="border border-white d-inline " width="20"
                            height="20">
                        <div class="d-inline ps-2">Memoir</div>
                    </li>
                    <li class="list-group-item border-0">
                        <img src="assets\browsepage\fileIcon.png" class="border border-white d-inline" width="20"
                            height="20">
                        <div class="d-inline ps-2">Link Name</div>
                    </li>
                    <li class="list-group-item border-0">
                        <img src="assets\browsepage\fileIcon.png" class="border border-white d-inline" width="20"
                            height="20">
                        <div class="d-inline ps-2">Link Name</div>
                    </li>

                </ul>
            </div>

            <div class="vertical-line mx-4" style="height: 50vh;"></div>

            <div class="card col-9 border border-warning" style="height:50vh ; width:50vw;">
                <div class="card-body">
                    <p class="card-text ">Paragraph Text</p>
                </div>
            </div>


        </div>
    </div>
</div>