<div class="container-fluid text-center text-white" style="padding-bottom:100px; background-color:rgb(12, 19, 48)">
    <h2 style="padding-top:120px; padding-bottom:50px;">Resources</h2>
    <h4>Movement Background</h4>
    <p>URL: hjkahfkrhjklrshjglrhtjlrhsljthresl.com </p>
    <br>
    <h4>Victims</h4>
    <p>URL: hjkahfkrhjklrshjglrhtjlrhsljthresl.com </p>
    <br>
    <h4>Movement Background</h4>
    <p>URL: hjkahfkrhjklrshjglrhtjlrhsljthresl.com </p>
    <br>
    <h4>Victims</h4>
    <p>URL: hjkahfkrhjklrshjglrhtjlrhsljthresl.com </p>
    <br>
    <h4>Movement Background</h4>
    <p>URL: hjkahfkrhjklrshjglrhtjlrhsljthresl.com </p>
    <br>
    <h4>Victims</h4>
    <p>URL: hjkahfkrhjklrshjglrhtjlrhsljthresl.com </p>
    <br>
    <h4>Victims</h4>
    <p>URL: hjkahfkrhjklrshjglrhtjlrhsljthresl.com </p>
    <br>
    <h4>Movement Background</h4>
    <p>URL: hjkahfkrhjklrshjglrhtjlrhsljthresl.com </p>
    <br>
  </div>