<ng-template #logoutModal>
  <div class="modal-body text-center">
    <p>Do you want to log out?</p>
    <button
      type="button"
      class="btn btn-outline-dark px-3 me-3"
      (click)="logout()"
    >
      Yes
    </button>
    <button type="button" class="btn btn-dark px-3" (click)="modalRef?.hide()">
      No
    </button>
  </div>
</ng-template>

<ng-template #announceModal>
  <div class="modal-body text-center">
    <h1>Edit Announcement</h1>
    <div class="form-floating mb-2">
      <textarea
        class="form-control"
        placeholder="make changes here"
        id="announcement"
        [(ngModel)]="announceText"
      ></textarea>
      <label for="announcement">Add/Change Announcement</label>
    </div>
    <button
      type="button"
      class="btn btn-outline-dark px-3 me-3"
      (click)="modalRef?.hide()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-dark px-3"
      (click)="updateAnnouncement()"
    >
      Save
    </button>
  </div>
</ng-template>

<ng-template #deleteConfirmation>
  <div class="modal-header">
    <h4 class="modal-title text-center">Delete Account</h4>
    <button type="button" class="btn-close close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to delete your account? This action cannot be
      undone. All your data and Contribution will be permanently deleted.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-danger rounded-pill"
      (click)="deleteAccount()"
    >
      Delete Account
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary rounded-pill"
      (click)="modalRef?.hide()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #saveAccountChanges>
  <div class="modal-header">
    <h4 class="modal-title text-center">Save Account Changes</h4>
    <button type="button" class="btn-close close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to Save account changes? This action cannot be
      undone. This will update your account details.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-success rounded-pill"
      (click)="saveAllAccountChanges()"
    >
      Save Account Changes
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary rounded-pill"
      (click)="modalRef?.hide()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #saveAccountChanges>
  <div class="modal-header">
    <h4 class="modal-title text-center">Save Account Changes</h4>
    <button type="button" class="btn-close close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Are you sure you want to Save account changes? This action cannot be
      undone. This will update your account details.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-success rounded-pill"
      (click)="saveAllAccountChanges()"
    >
      Save Account Changes
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary rounded-pill"
      (click)="modalRef?.hide()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #sentEmailResetPassword>
  <div class="modal-header">
    <h4 class="modal-title text-center">Change Password</h4>
    <button type="button" class="btn-close close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Please check your email for a link to reset your password. If you do not
      receive an email, please check your spam folder.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-success rounded-pill"
      (click)="sendEmailResetPassword()"
    >
      Send Email verification
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary rounded-pill"
      (click)="modalRef?.hide()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #changeEmailTemplate>
  <div class="modal-header">
    <h4 class="modal-title text-center">Change Email</h4>
    <button type="button" class="btn-close close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changeEmailForm">
      <div class="form-floating mb-2">
        <input
          class="form-control"
          type="email"
          placeholder="Enter new email"
          id="newEmail"
          formControlName="newEmail"
        />
        <label for="newEmail"
          >New Email <span class="text-danger">*</span></label
        >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-success rounded-pill"
      [disabled]="!changeEmailForm.valid"
      (click)="changeEmail()"
    >
      Change Account
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary rounded-pill"
      (click)="modalRef?.hide()"
    >
      Cancel
    </button>
  </div>
</ng-template>
