<h2 class="text-center pb-5 pt-5 mt-5">Request Form</h2>
<h3 class="text-center pt-3 pb-5">Upload</h3>
<div class="container-fluid">
  <br />
  <div class="container">
    <!-- Row for name, ethnic group, occupation, and year of event -->
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ms-5 me-5 pt-3 bg-secondary"
    >
      <!-- col for name selection -->
      <div class="col">
        <label for="Name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="Name"
          placeholder="First and Last name"
        />
      </div>
      <!-- col for ethnic group -->
      <div class="col">
        <label for="ethnicGroup" class="form-label">Chinese Ethnic Group</label>
        <input
          [(ngModel)]="selected"
          [typeahead]="ethnicGroup"
          class="form-control"
        />
      </div>
      <!-- col for occupation -->
      <div class="col">
        <label for="occupation" class="form-label">Occupation</label>
        <input
          [(ngModel)]="selected2"
          [typeahead]="occupation"
          class="form-control"
        />
      </div>
      <!-- col for year of event -->
      <div class="col">
        <label for="Year" class="form-label">Year of event</label>
        <input type="text" class="form-control" id="Year" placeholder="Year" />
      </div>
    </div>

    <!-- Row containing gender, status, file ID, and clear/submit buttons -->
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ms-5 me-5 pb-3 bg-secondary"
    >
      <!-- col for gender selection -->
      <div class="col">
        <br />
        <label class="form-label">Gender</label>
        <br />
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault1"
          />
          <label class="form-check-label" for="flexRadioDefault1"> Male </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Female
          </label>
        </div>
      </div>
      <!-- col for status -->
      <div class="col">
        <br />
        <label class="form-label">Status</label>
        <br />
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="status"
            id="flexRadioDefault1"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Alive
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="status"
            id="flexRadioDefault2"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Deceased
          </label>
        </div>
      </div>
      <!-- col for file ID -->
      <div class="col">
        <br />
        <label for="fileID" class="form-label">File ID</label>
        <input type="text" class="form-control" id="fileID" placeholder="ID" />
      </div>
      <!-- col for clear/submit buttons -->
      <div class="col">
        <br /><br />
        <button type="button" class="btn btn-outline-light me-5">Clear</button>
      </div>
    </div>
  </div>
  <br /><br /><br />

  <!-- upload photo and add content section -->
  <div class="row ms-5 me-5 ps-5 pe-5" id="photoContent">
    <div class="col col-3 ps-5 ms-5">
      <!-- photo upload section -->
      <h4>Upload a photo</h4>

      <img alt="" [src]="url" height="200" width="200" />
      <input type="file" (change)="onselectFile($event)" />

      <br /><br />
      <p>Include this image in gallery</p>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          value="yes"
        />
        <label class="form-check-label" for="inlineRadio1">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="no"
        />
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
    </div>
    <div class="col">
      <!-- add content section -->
      <div class="cotainer-fluid ps-5">
        <div class="row">
          <div class="col">
            <h4>Add Content</h4>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="5"
              placeholder="Add content/description here..."
            ></textarea>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-2">
            <div class="form-group">
              <h4>Add Event Date</h4>
              <input
                [bsConfig]="{ startView: 'year' }"
                bsDatepicker
                class="form-control"
                placeholder="year"
              />
            </div>
            <br />
            <button type="button" class="btn btn-dark">Add Event</button>
          </div>
          <div class="col pt-5 mt-3">
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="5"
              placeholder="Add event details here..."
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- memoir section -->
<hr />
<br /><br />
<div class="container-fluid pb-5" id="memoir">
  <br />
  <h4>Add Memoir, book, or other information</h4>
  <input
    type="text"
    class="form-control"
    placeholder="Add title here..."
    aria-label="title"
    aria-describedby="basic-addon1"
  />
  <br />
  <input
    type="text"
    class="form-control"
    placeholder="Add author here.."
    aria-label="author"
    aria-describedby="basic-addon1"
  />
  <br />
  <textarea
    type="text"
    class="form-control"
    placeholder="Add memoir here..."
    rows="5"
  ></textarea>
</div>

<div class="container-fluid text-center">
  <div class="row">
    <div class="col">
      <br />
      <button type="button" class="btn btn-dark">Add Another Entry</button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <br />
      <button type="button" class="btn btn-dark me-3">Clear</button>
      <button type="button" class="btn btn-dark me-3">Submit</button>
    </div>
  </div>
</div>
