<div *ngIf="!this.page">
  <h2 class="text-center pb-5 pt-5 mt-5">Request Form</h2>
  <h3 class="text-center pt-3 pb-5">Upload</h3>
</div>

<div *ngIf="this.page">
  <h3 class="text-center pb-5 pt-5 mt-5">Detailed/Edit Contribution</h3>
</div>

<div class="container-fluid">
  <app-form
    page="page"
    [form]="form"
    (change)="onFormChange($event)"
  ></app-form>

  <div class="row">
    <div class="col-md-4 ms-5 ps-5">
      <!-- photo upload section -->
      <h4>Upload a photo</h4>
      <form [formGroup]="form2">
        <img alt="" [src]="url" height="200" width="200" />
        <!-- select photo section -->
        <input
          type="file"
          (change)="onselectFile($event)"
          formControlName="image"
          multiple
        />
        <br /><br />
        <button class="btn btn-dark" (click)="clearImage()">
          Remove photo
        </button>
        <!-- instruction for selecting photos -->
        <p>
          <br />
          (hold 'Ctrl' ('command' on Mac) to select <br />
          multiple images when choosing files)
        </p>
        <!-- radio buttons for choosing if user wants to include photo in gallery -->
        <br />
        <p>
          Include this image in gallery
          <img
            src="assets/upload/icons-question.png"
            tooltip="Choose to include the photo in website gallery"
            placement="auto"
            class="mx-2 shadow rounded-circle p-1"
            width="30"
          />
        </p>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="galleryNo"
            id="galleryYes"
            value="yes"
            formControlName="imageUpload"
          />
          <!-- yes button -->
          <label class="form-check-label" for="inlineRadio1">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="galleryNo"
            id="galleryNo"
            value="no"
            formControlName="imageUpload"
          />
          <!-- no button -->
          <label class="form-check-label" for="inlineRadio2">No</label>
        </div>
      </form>
    </div>

    <!-- col for contents input box -->
    <div class="col-md-6">
      <div class="my-4">
        <h4>Contents</h4>
        <div [formGroup]="form2" class="border p-2 shadow rounded">
          <label for="add_content" class="form-label h4">Add Content</label>
          <textarea
            class="form-control"
            id="add_content"
            rows="5"
            placeholder="Add content/description here..."
            formControlName="content"
          ></textarea>
        </div>
      </div>
      <!-- event detail and date -->
      <div class="row">
        <div class="col">
          <app-array
            type="event"
            [title]="eventTitle"
            [array]="eventArray"
            (change)="onArrayChange($event)"
          ></app-array>
        </div>
      </div>
      <br />
      <!-- memoir section -->
      <div class="row">
        <div class="col">
          <app-array
            type="memoir"
            [title]="memoirTitle"
            [array]="memoirArray"
            (change)="onArrayChange($event)"
          ></app-array>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <!-- submit and clear buttons -->
  <div class="d-flex col-11 mx-auto mb-5" *ngIf="this.page != 'contribution'">
    <button
      type="button"
      class="btn btn-lg btn-outline-dark rounded-pill ms-auto px-4"
      (click)="clear2()"
    >
      Clear
    </button>
    <button
      type="button"
      class="btn btn-lg btn-outline-dark me-3 rounded-pill mx-2 px-4"
      [disabled]="form.invalid || form2.invalid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </div>
</div>
