<h2 class="text-center pb-5 pt-5 mt-5">Request Form</h2>
<h3 class="text-center pt-3 pb-5">Upload</h3>
<div class="container-fluid">
  <br />
  <div class="container">
    <!-- Row for name, ethnic group, occupation, and year of event -->
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ms-5 me-5 pt-3 bg-secondary"
    >
      <!-- col for name selection -->
      <div class="col">
        <form [formGroup]="form">
          <label for="Name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="Name"
            formControlName="name"
            placeholder="First and Last name"
          />
        </form>
      </div>
      <!-- col for ethnic group -->
      <div class="col">
        <form [formGroup]="form">
          <label for="ethnicGroup" class="form-label"
            >Chinese Ethnic Group</label
          >
          <input
            [(ngModel)]="ethnic"
            [typeahead]="ethnicGroup"
            class="form-control"
            formControlName="ethnic"
          />
        </form>
      </div>
      <!-- col for occupation -->
      <div class="col">
        <form [formGroup]="form">
          <label for="occupation" class="form-label">Occupation</label>
          <input
            [(ngModel)]="occupation2"
            [typeahead]="occupation"
            class="form-control"
            formControlName="occupation"
          />
        </form>
      </div>
      <!-- col for year of event -->
      <div class="col">
        <form [formGroup]="form">
          <label for="Year" class="form-label"
            >Year of becoming a rightest</label
          >
          <input
            [bsConfig]="{
              startView: 'year',
              minMode: 'year',
              dateInputFormat: 'YYYY',
              showClearButton: true
            }"
            bsDatepicker
            class="form-control"
            placeholder="Year"
            autocomplete="off"
            formControlName="rightestYear"
          />
        </form>
      </div>
    </div>

    <!-- Row containing gender, status, file ID, and clear/submit buttons -->
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ms-5 me-5 pb-3 bg-secondary"
    >
      <!-- col for gender selection -->
      <div class="col">
        <br />
        <form [formGroup]="form">
          <label class="form-label">Gender</label>
          <br />
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              formControlName="gender"
              name="gender"
              value="male"
              id="male"
            />
            <label class="form-check-label" for="male"> Male </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              formControlName="gender"
              name="gender"
              value="female"
              id="female"
            />
            <label class="form-check-label" for="female"> Female </label>
          </div>
        </form>
      </div>
      <!-- col for status -->
      <div class="col">
        <br />
        <form [formGroup]="form">
          <label class="form-label">Status</label>
          <br />
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="status"
              formControlName="status"
              value="alive"
              id="alive"
            />
            <label class="form-check-label" for="alive"> Alive </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="status"
              formControlName="status"
              value="deceased"
              id="deceased"
            />
            <label class="form-check-label" for="deceased"> Deceased </label>
          </div>
        </form>
      </div>
      <!-- col for clear/submit buttons -->
      <div class="col">
        <br /><br />
        <button
          type="button"
          class="btn btn-outline-light me-5"
          (click)="clear()"
        >
          Clear
        </button>
      </div>
    </div>
  </div>
  <br /><br /><br />

  <!-- upload photo and add content section -->
  <div class="row ms-5 me-5 ps-5 pe-5" id="photoContent">
    <div class="col col-3 ps-5 ms-5"></div>
    <div class="col">
      <!-- add content section -->
      <div class="cotainer-fluid ps-5">
        <div class="row">
          <div class="col"></div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-2"></div>
          <div class="col pt-5 mt-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3 ms-5 ps-5">
    <!-- photo upload section -->
    <h4>Upload a photo</h4>
    <form [formGroup]="form2">
      <img alt="" [src]="url" height="200" width="200" formControlName="image"/>
      <input
        type="file"
        (change)="onselectFile($event)"
        formControlName="image"
      />

      <br /><br />
      <p>Include this image in gallery</p>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          value="yes"
          formControlName="imageUpload"
        />
        <label class="form-check-label" for="inlineRadio1">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="no"
          formControlName="imageUpload"
        />
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
    </form>
  </div>

  <div class="col-8 me-5 pe-5">
    <div>
      <form [formGroup]="form2">
        <h4>Add Content</h4>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="5"
          placeholder="Add content/description here..."
          formControlName="content"
        ></textarea>
      </form>
    </div>
    <!-- event detail and date -->
    <div class="row">
      <div class="col">
        <div class="form-group">
          <form [formGroup]="form2">
            <br>
            <h4>Add Event Date</h4>
            <input
              [bsConfig]="{
                startView: 'year',
                minMode: 'year',
                dateInputFormat: 'YYYY'
              }"
              bsDatepicker
              class="form-control"
              placeholder="year"
              formControlName="eventYear"
              
            />
            <br />
            <button type="button" class="btn btn-dark">Add Another Event</button>
          </form>
        </div>
      </div>
      <div class="col">
        <form [formGroup]="form2">
          <br>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="5"
            placeholder="Add event details here..."
            formControlName="eventContent"
          ></textarea>
        </form>
      </div>
    </div>
    <!-- memoir section -->
    <br />
    <h4>Add Memoir, book, or other information</h4>
    <form [formGroup]="form2">
      <input
        type="text"
        class="form-control"
        placeholder="Add title here..."
        aria-label="title"
        aria-describedby="basic-addon1"
        formControlName="memoirTitle"
      />
      <br />
      <input
        type="text"
        class="form-control"
        placeholder="Add author here.."
        aria-label="author"
        aria-describedby="basic-addon1"
        formControlName="memoirAuthor"
      />
      <br />
      <textarea
        type="text"
        class="form-control"
        placeholder="Add memoir here..."
        rows="5"
        formControlName="memoirContent"
      ></textarea>
      <br />
      <button type="button" class="btn btn-dark">Add Another Memoir</button>
    </form>
  </div>
</div>
<br /><br />
<div class="container-fluid text-center">
  <div class="row">
    <div class="col">
      <br />
      <button type="button" class="btn btn-dark me-3" (click)="clear2()">
        Clear
      </button>
      <button type="button" class="btn btn-dark me-3">Submit</button>
    </div>
  </div>
</div>
