<footer class="text-center text-lg-start bg-khaki mt-auto">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Social media:</span>
        </div>
        <div>
            <a href="" class="me-4 text-reset"> Facebook </a>
            <a href="" class="me-4 text-reset"> Twitter </a>
            <a href="" class="me-4 text-reset"> Google+ </a>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Chinese Anti-Rightists Archives</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip
                        ex
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu
                        fugiat
                        nulla pariatur.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Service</h6>
                    <p>
                        <a routerLink="/" class="text-reset">Contact Us</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">Ordering & Payment</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">Shipping</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">Return</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">FAQ</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">Sizing Guide</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Information</h6>
                    <p>
                        <a routerLink="/" class="text-reset">About Adobe</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">Work With US</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">Privacy Policy</a>
                    </p>
                    <p>
                        <a routerLink="/" class="text-reset">Press Enquiries</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                    <p>Fairfax, VA 00000, US</p>
                    <p>stip@gmu.com</p>
                    <p>Phone: +1 000 000 0000</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4 bg-dark bg-opacity-20">
        © Copyright 2022 <a class="text-reset fw-bold"> STIP </a>
    </div>
</footer>