<footer class="text-center text-lg-start bg-khaki mt-auto">
  <section class="py-3">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            {{ "common.chinese_anti_rightist_archives" | translate }}
          </h6>
          <div>2022 © <a class="text-reset fw-bold"> STIP Copyright</a></div>
          <p>George Mason University</p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">NAVIGATION</h6>
          <p>
            <a routerLink="/home" class="text-reset">FAQ</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <p>
            <a routerLink="/about/movement" class="text-reset">About</a>
          </p>
          <p>
            <a routerLink="/browse/main" class="text-reset">Archive</a>
          </p>
          <p>
            <a routerLink="/browse/gallery" class="text-reset">Gallery</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <p>
            <a routerLink="/about/resources" class="text-reset"
              >Project Overview</a
            >
          </p>
          <p>
            <a routerLink="/about/team" class="text-reset">Meet The Team</a>
          </p>
          <p>
            <a routerLink="/about/research" class="text-reset">Resources</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <p>
            <a routerLink="/terms" class="text-reset">Term & Contributions</a>
          </p>
          <p>
            <a routerLink="/account" class="text-reset">Account</a>
          </p>
          <p>
            <a routerLink="/about/research" class="text-reset">Research</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-2 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
          <p>Fairfax, VA 00000, US</p>
          <p>stip@gmu.com</p>
          <p>Phone: +1 000 000 0000</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4 bg-dark bg-opacity-20">
    © Copyright 2022 <a class="text-reset fw-bold" routerLink="/home"> STIP </a>
  </div>
</footer>
