<div class="form-group">
  <h4>Upload a photo</h4>
  <section
    class="my-4"
    *ngFor="
      let imageForm of controls;
      let i = index;
      last as last;
      first as first
    "
  >
    <form [formGroup]="imageForm">
      <img alt="" [src]="imageForm.value!.imageUrl" height="200" width="200" />
      <input formControlName="imageUrl" class="d-none" />
      <!-- select photo section -->
      <input
        class="form-control w-75 mb-4"
        type="file"
        (change)="onselectFile($event, i)"
        formControlName="image"
      />

      <div class="mb-4">
        <div>
          <label for="imageTitle" class="form-label">Title</label>
          <input
            type="text"
            class="form-control w-75"
            id="imageTitle"
            placeholder="What would you title this image"
            formControlName="imageTitle"
          />
        </div>

        <div *ngIf="isAdmin">
          <label for="otherImageTitle" class="form-label">Chinese Title</label>
          <input
            type="text"
            class="form-control w-75"
            id="otherImageTitle"
            placeholder="What would you title this image"
            formControlName="otherImageTitle"
          />
        </div>
      </div>

      <div class="mb-4">
        <div>
          <label for="imageDetails" class="form-label">Details</label>
          <textarea
            class="form-control w-75"
            id="imageDetails"
            rows="3"
            placeholder="Add a description"
            formControlName="imageDes"
          ></textarea>
        </div>

        <div *ngIf="isAdmin">
          <label for="otherImageDetails" class="form-label"
            >Chinese Details</label
          >
          <textarea
            class="form-control w-75"
            id="otherImageDetails"
            rows="3"
            placeholder="Add a description"
            formControlName="otherImageDes"
          ></textarea>
        </div>
      </div>

      <div class="mb-4">
        <div>
          <label for="imageSource" class="form-label">Source</label>
          <textarea
            class="form-control w-75"
            id="imageSource"
            rows="3"
            placeholder="Image Source"
            formControlName="imageSource"
          ></textarea>
        </div>

        <div *ngIf="isAdmin">
          <label for="otherImageSource" class="form-label"
            >Chinese Source</label
          >
          <textarea
            class="form-control w-75"
            id="otherImageSource"
            rows="3"
            placeholder="Image Source"
            formControlName="otherImageSource"
          ></textarea>
        </div>
      </div>

      <div>
        <div>
          <label for="categories">Image category</label>
          <select
            formControlName="imageCategory"
            name="imageCategory"
            id="imageCategory"
            class="form-select w-75"
            (change)="onImageCategoryChange($event, i)"
          >
            <option *ngFor="let category of imageCategories" [value]="category">
              {{ category }}
            </option>
          </select>
          <div *ngIf="isAdmin">
            <input
              readonly
              formControlName="otherImageCategory"
              class="form-control w-75"
            />
          </div>
        </div>
      </div>

      <!-- radio buttons for choosing if user wants to include photo in gallery -->
      <br />
      <div *ngIf="isAdmin" class="my-3">
        <p>
          Include this image in gallery
          <img
            src="assets/upload/icons-question.png"
            tooltip="Choose to include the photo in website gallery"
            placement="auto"
            class="mx-2 shadow rounded-circle p-1"
            width="30"
          />
        </p>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="galleryOptions"
            id="galleryYes"
            value="yes"
            formControlName="imageUpload"
          />
          <!-- yes button -->
          <label class="form-check-label" for="galleryYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="galleryOptions"
            id="galleryNo"
            value="no"
            formControlName="imageUpload"
          />
          <!-- no button -->
          <label class="form-check-label" for="galleryNo">No</label>
        </div>
      </div>

      <!-- Is Profile-->
      <div *ngIf="isAdmin">
        <!-- <pre>{{ imageForm.get('isProfile')!.value }}</pre> -->
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            [id]="'imageProfile' + i"
            name="isProfile"
            [formControl]="profileControl"
            [value]="i"
          />
          <label class="form-check-label" [for]="'imageProfile' + i"
            >Select this image as profile</label
          >
        </div>
      </div>

      <br /><br />
      <!-- <div *ngIf="isWarning && last && page != 'contribution'" class="text-danger h3">
        Please add {{ title }}
      </div> -->

      <button
        type="button"
        tooltip="Remove this event"
        placement="auto"
        *ngIf="!first || !last"
        class="btn btn-lg btn-outline-danger rounded-pill bg-white text-danger"
        (click)="remove(i)"
      >
        {{ "upload.remove" | translate }}

        <img src="assets/upload/icons-remove.png" class="mx-2" width="30" />
      </button>
      <!-- add event button -->
      <button
        *ngIf="last"
        type="button"
        (click)="addImage()"
        tooltip="Add another event"
        placement="auto"
        class="btn btn-lg btn-outline-dark rounded-pill bg-white text-dark mx-3"
      >
        {{ "upload.add_event" | translate }}

        <img src="assets/upload/icons-plus.svg" class="mx-2" width="30" />
      </button>
    </form>
  </section>
</div>
