.button-no-outline:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


.movem {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 2;
    right: 2;
}




// .my-pagination::ng-deep .ngx-pagination {
//     color: white;
// }

// /* sets font color for number color when hovering */
// .my-pagination::ng-deep .ngx-pagination a:hover {
//     color: red;
// }

// /* sets font color for disabled previous or next words */
// .my-pagination::ng-deep .ngx-pagination .disabled {
//     color: white !important;
// }