.button-no-outline:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

// .pot {
//     position: abs
//     top: 1;
//     left: 2;
//     bottom: 2;
//     right: 2;
    
// }


.movem {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 2;
    right: 2;
}