.button-no-outline:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


.movem {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 2;
    right: 2;
}


.my-pagination::ng-deep .page-item.active .page-link {
    z-index: 1;
    color: black;
    background-color:white!important;
    border-color:#FFFFFF !important;
    column-gap: 2px !important;
    text-decoration: none !important;
    text-decoration-color: white!important;
    
    

}