<div class="bg-khaki bg-opacity-25 d-flex">
  <!-- search bar -->
  <div class="input-group m-5">
    <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="true">
      <button id="button-basic" dropdownToggle type="button"
        class="btn border border-start-0 bg-white rounded-end rounded-pill dropdown-toggle" [value]="searchSelect">
        {{searchSelect}}
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" (click)="onOpenChange('All Fields')">All Fields</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="onOpenChange('Name')">Name</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="onOpenChange('Events')">Events</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="onOpenChange('Description')">Description</a>
        </li>
      </ul>
    </div>

    <input type="search" class="form-control" placeholder="Search for ... " [(ngModel)]="searchInput"
      (search)="searchBar()" aria-label="Search for ... " aria-describedby="button-addon2" />
    <button class="btn border border-start-0 bg-white rounded-start rounded-pill" type="button" (click)="searchBar()">
      <img src="assets/global/search.svg" alt="" width="20" />
    </button>

    <a class="align-self-center mx-2" type="button" tooltip="What to search for?
    - Search for first name 
    and/or last name
    - Year of birth 
    - Year of death
    - “Rightist” year
    - Chinese Ethnic Group
    - Occupation
    - Gender" data-bs-toggle="tooltip" data-bs-placement="right">
      <img src="assets/browsepage/question-mark.svg" alt="" width="20" />

    </a>
  </div>

</div>

<div class="row justify-content-center" style="background-color: rgb(12, 19, 48)">
  <div class="col-10 border" style="border-color: #caa372">
    <h6 class="border-bottom fw-bold text-light my-3">Browse Archive</h6>
    <div class="my-4">
      <app-browse-search-filter [(filterValues)]="filterValues" (filterValuesChange)="filterValueschanges($event)">
      </app-browse-search-filter>
    </div>

    <!-- search result -->
    <div class="container-fluid">
      <div class="d-flex">
        <!-- <div class="row mb-2 mx-2 row-col-auto"> -->
        <div class="me-auto p-2 text-light text-nowrap">
          Search Results {{ this.db_result?.length || 0 }}
        </div>

        <div class="col-auto flex-shrink-0">
          <label for="per_page_result" class="text-white">Result per page</label>
          <select class="mx-2" aria-label="Result per page select" id="per_page_result" [(ngModel)]="itemsPerPage"
            (change)="itemPerPageChanged()">
            <option selected value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
        <div class="col-auto flex-shrink-0">
          <label for="viewSelect" class="text-white">View</label>
          <select class="mx-2" id="viewSelect" aria-label="View select" [(ngModel)]="curView">
            <option value="List" selected>List</option>
            <option value="Grid">Grid</option>
          </select>
        </div>

        <div class="mb-1 text-light text-nowrap">|&emsp;Order by: A-Z</div>
      </div>

      <div class="d-flex border-bottom justify-content-between">

        <div class="btn-group d-inline-block btn-group-sm">
          <button class="btn button-no-outline" *ngFor="let letter of letters" [ngClass]="
              currentLetter === letter
                ? 'btn-outline-light text-danger text-decoration-underline'
                : 'text-light'
            " (click)="lettersBtnClickOrReset(letter)">
            {{ letter }}
          </button>
        </div>
      </div>

      <!-- display search results -->
      <app-stip-spinner [isLoading]="isloading"></app-stip-spinner>
      <div *ngIf="!isloading">
        <div *ngIf="curView === 'List'; else elseBlock">
          <div *ngIf="display.length; else elseEmptyBlock">
            <a class="d-flex m-3" style="
                height: 150px;
                border-radius: 28px;
                color: black;
                text-decoration: none;
                background-color: white;
              " name="searchLayout" routerLink="/browse/main/memoir/{{ result.profileId }}" routerLinkActive="active"
              ariaCurrentWhenActive="page" *ngFor="let result of display; let i=index">
              <div class="m-3">{{(i+1)+ (currentPage-1) * itemsPerPage}}</div>

              <div *ngIf="curView === 'List'; else elseBlock">
                <div *ngIf="display.length; else elseEmptyBlock">
                  <a class="d-flex m-3 searchprofile" style="
              height: 150px;
              border-radius: 28px;
              color: black;
              text-decoration: none;
              background-color: white;
            " name="searchLayout" routerLink="/browse/main/memoir/{{ result.profileId }}" routerLinkActive="active"
                    ariaCurrentWhenActive="page" *ngFor="let result of display; let i=index">
                    <div class="m-3">{{(i+1)+ (currentPage-1) * itemsPerPage}}</div>

                    <div class="m-3 col-3 text-capitalize">
                      <div class="text-start fw-bold">
                        {{ result.firstName +" "+result.lastName }}
                      </div>
                      <div class="text-start">Occupation: {{ result.job || "-"}}</div>
                      <div class="text-start">Ethnic Group: {{ result.ethnicity || "-"}}</div>
                      <div class="text-start">Gender: {{ result.gender || "-"}}</div>
                    </div>
                    <div class="text-start col-6 m-3 searchprofile">{{ result.description }}</div>
                    <div class="col align-self-end fw-bold">read more ></div>
                  </a>

                </div>

                <ng-template #elseEmptyBlock>
                  <div *ngIf="isloading == false" class="bg-light">
                    No record has been found.
                  </div>
                </ng-template>
              </div>


              <ng-template #elseBlock>
                <div *ngIf="display.length; else elseEmptyBlock">
                  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3" name=" searchLayout"
                    *ngFor="let results of display | UpdateRows: 3 ; let i = index">

                    <div class="py-5 col" style="border-radius: 28px; background-color: #dbdde2; max-width: 25%;"
                      *ngFor="let result of results; let j= index">
                      <a routerLink="/browse/main/memoir/{{ result.profileId }}" routerLinkActive="active"
                        ariaCurrentWhenActive="page" style="color: black; text-decoration: none">

                        <div class="m-3">{{(5*i+(j+1)) + (currentPage-1) * itemsPerPage}}</div>

                        <div class="card-body mt-auto text-capitalize">
                          <div class="card-body">
                            <div class="fw-bold">{{ result.firstName +" "+result.lastName }}</div>
                            <div>{{ result.workplace }}</div>
                            <div class="pb-3">{{ result.ethnicity }}</div>
                            <div class="fw-bold">read more ></div>
                          </div>
                        </div>
                      </a>
                    </div>

                  </div>
                </div>
                <ng-template #elseEmptyBlock>
                  <div *ngIf="isloading" class="bg-light">
                    No record has been found.
                  </div>
                </ng-template>
              </ng-template>

              <!-- search nav -->

              <div class="d-flex flex-row-reverse">
                <nav aria-label="Page navigation">
                  <pagination class=" my-pagination" [rotate]="true" [totalItems]="db_result?.length || 0"
                    [boundaryLinks]="true" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
                    (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                    lastText="&raquo;" [maxSize]="10">
                  </pagination>
                </nav>

                <div class="p-2 bd-highlight">
                  page {{ this.currentPage }} of {{ this.maxPage }}
                </div>
              </div>
          </div>
        </div>
      </div>