<div class="p-3 container-fluid" style="background-color: rgb(202,163,114)">
    <!-- search bar -->
    <div class="input-group m-3">
        <input type="text" class="form-control rounded-pill" placeholder="Search for ... " [(ngModel)]="keyword"
            (search)="filterByKeyword()" aria-label="Search for ... " aria-describedby="button-addon2" />
        <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="filterByKeyword()">
            Button
        </button> -->
    </div>
</div>

<div class="row justify-content-center" style="background-color: rgb(12, 19, 48)">
    <div class="col-10 border" style="border-color:#caa372">

        <!-- <pre>{{ filterValues | json }}</pre>
    <app-search-filter [(filterValues)]="filterValues" (filterValuesChange)="filterValueschanges($event)"></app-search-filter> -->

        <app-browse-search-filter class="container-fluid"></app-browse-search-filter>

        <!-- search result -->
        <div class="container-fluid">
            <div class="d-flex">
                <div class="col mt-3 text-light">
                    Search Results {{this.db_result.length}}
                </div>
                <div class="d-flex flex-row-reverse text-light">
                    <div class="m-3">| Order by: A-Z</div>
                    <form class="row">
                        <fieldset class="" style="color: white;">
                            <label for="fname">View</label>
                            <select id="viewSelect" aria-label="View select" (change)="onViewChange()">
                                <option selected>List</option>
                                <option>Grid</option>
                            </select>
                        </fieldset>
                
                        <fieldset style="color: white;">
                            <label for="fname">Result per page</label>
                            <select aria-label="Result per page select"
                                [(ngModel)]="itemsPerPage" (change)="itemPerPageChanged()">
                                <option selected value=50>50</option>
                                <option value=100>100</option>
                            </select>
                        </fieldset>

                </form>  
                </div>

              

            </div>

            <div class="d-flex  border-bottom justify-content-between">
                <div class="p-2 rounded-circle bg-light fw-bolder mb-2">
                    {{this.currentLetter}}
                </div>

                <div class="btn-group d-inline-block btn-group-sm">
                    <button class="btn button-no-outline  " *ngFor="let letter of letters"
                        [ngClass]="currentLetter === letter ? 'btn-outline-light text-danger text-decoration-underline' : 'text-light'"
                        (click)="lettersBtnClick(letter)">
                        {{letter}}
                    </button>
                </div>

            </div>

            <!-- display search results -->

            <div *ngIf="curView === 'List'; else elseBlock">
                <div class="d-flex p-4 my-3" style="height:100px; border-radius: 28px; background-color: #dbdde2"
                    name="searchLayout" *ngFor="let result of display">
                    <div class="col-2 mb-5">
                        <img src="assets\browsepage\tempprofile.png"
                            class="rounded-circle border border-dark img-responsive center-block" width="70vw" height="70vw">
                    </div>
                    <div class="flex-grow-1 d-inline-block;">
                        <div>{{result.full_name}}</div>
                        <div class="pb-3">{{result.workplace}}</div>
                        <div>{{result.description}}</div>
                    </div>

                </div>
            </div>
            <ng-template #elseBlock>
                <div class="row " name="searchLayout" *ngFor="let results of display| UpdateRowsPipe:5">
                    <div class="px-4 m-3 text-truncate"
                        style="height: 15vw; width: 20vw; border-radius: 28px;background-color: #dbdde2"
                        *ngFor="let result of results">

                        <img src="assets\browsepage\tempprofile.png" class="rounded-circle border border-dark" width="50vw"
                            height="50vw">

                        <div>
                            <div>{{result.full_name}}</div>
                            <div class="pb-3">{{result.workplace}}</div>
                            <div class="text-wrap">{{result.description}}</div>
                        </div>


                    </div>
                </div>
            </ng-template>

            <!-- search nav -->

            <div class="d-flex flex-row-reverse text-light">

                <nav aria-label="Page navigation">
                    <pagination class="bg-light" [rotate]=true [totalItems]="db_result.length" [boundaryLinks]="true"
                        [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                        [maxSize]="10">

                    </pagination>
                </nav>

                <div class="p-2 bd-highlight">page {{this.currentPage}} of {{this.maxPage}}</div>
            </div>


        </div>

    </div>
</div>