<div class="container border px-0 rounded w-100">
  <div class="d-flex bd-highlight bg-light ps-2">
    <h6 class="flex-grow-1 bd-highlight pt-2 fw-bold">Filter</h6>
    <div class="bd-highlight">
      <button class="btn" type="button" [attr.aria-expanded]="!drop" aria-controls="collapseBasic"
        (click)="updateCollapse()">
        <img src="/assets/filters/collapse-{{ drop ? 'minus' : 'plus' }}.svg" alt="filter" width="20" />
        <span class="visually-hidden">click to {{ drop ? "collapse" : "expand" }}</span>
      </button>
    </div>
  </div>
  <div class="bg-white" id="collapseBasic" [collapse]="drop" [isAnimated]="true">
    <form class="row p-2" [formGroup]="formValues">
      <fieldset class="col-12 col-md-2">
        <legend class="h6 fw-bold">Gender</legend>
        <div class="form-check ms-3">
          <input class="form-check-input" formControlName="gender" value="male" type="radio" name="gender"
            id="gender-male" />
          <label class="form-check-label" for="gender-male"> Male </label>
        </div>
        <div class="form-check ms-3">
          <input class="form-check-input" value="female" type="radio" formControlName="gender" name="gender"
            id="gender-female" />
          <label class="form-check-label" for="gender-female"> Female </label>
        </div>
      </fieldset>


      <fieldset class="col-12 col-md-2">
        <legend class="h6 fw-bold">Status</legend>

        <div class="form-check ms-3">
          <input class="form-check-input" value="Alive" type="radio" formControlName="status" name="status"
            id="alive" />
          <label class="form-check-label" for="alive"> Alive </label>
        </div>

        <div class="form-check ms-3">
          <input class="form-check-input" type="radio" value="Deceased" formControlName="status" name="status"
            id="deceased" />
          <label class="form-check-label" for="deceased"> Deceased </label>
        </div>

        <div class="form-check ms-3">
          <input class="form-check-input" value="Unknown" type="radio" formControlName="status" name="status"
            id="unknown" />
          <label class="form-check-label" for="unknown"> Unknown </label>
        </div>
      </fieldset>






      <div class="col-12 col-md-2">
        <label for="chinese-ethic-group" class="form-label col fw-bold">Chinese Ethnic Group</label>
        <div class="col-auto">
          <input class="form-control form-control-sm" formControlName="group" id="chinese-ethic-group"
            [typeahead]="groups" typeaheadOptionField="viewValue" [typeaheadOptionsLimit]="5"
            placeholder="Type to search ethnic groups..." />
        </div>
      </div>
      <div class="col-12 col-md-3">
        <label for="chinese-ethic-group fw-bold" class="form-label col fw-bold">Occupation</label>
        <div class="col-auto">

          <select class="form-select form-select-sm mb-3" formControlName="occupation"
            aria-label=".form-select-lg example">
            <option *ngFor="let occupation of occupations" [value]="occupation.viewValue">
              {{occupation.viewValue}}
            </option>
          </select>

        </div>




      </div>
      <div class="col-12 col-md-3">
        <div class="form-group">
          <label for="year-of-becoming-rightest" class="form-label col fw-bold">Year of Becoming A Rightist</label>
          <input type="text" id="year-of-becoming-rightest" formControlName="date" placeholder="YYYY-YYYY"
            class="form-control form-control-sm calendar" bsDaterangepicker (onShown)="onOpenCalendar($event)" [(ngModel)]="modelDate"
            [minDate]="minDate"
            [maxDate]="maxDate"
            [bsConfig]="{
          minMode: 'year',
          rangeInputFormat: 'YYYY'
        }" />

        </div>
      </div>
      <div class="col-12 d-flex">
        <div class="ms-auto">
          <button class="btn btn-secondary mx-3" type="button" (click)="clear()">
            Clear
          </button>

        </div>
      </div>
    </form>
  </div>
</div>