.container-fluid {
    margin: 0px;
    padding: 0px;
} 
.container{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

#firstbg {
    clip-path: polygon(100% 0%, 100% 70%, 50% 90%, 50% 90%, 0 70%, 0 0);

  }
.outerdiv{
    background-color: rgb(206, 163, 116);
    padding-bottom: 20px;
    clip-path: polygon(100% 0%, 100% 70%, 50% 90%, 50% 90%, 0 70%, 0 0);
}

