<app-modal-template #modaltemplate></app-modal-template>
<div class="container">
  <div class="row">
    <div class="col-12 col-md">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
          <button class="main-canvas" (click)="uploadFile.click()">
            <input
              type="file"
              #uploadFile
              id="profile-image"
              class="visually-hidden"
              accept="image/*"
              (change)="uploadImage($event)"
            />

            <img
              *ngIf="imageUrl"
              src="{{ imageUrl }}"
              alt="profile image"
              class="image"
            />
            <img
              *ngIf="!imageUrl"
              src="/assets/homepage/default-profile.png"
              alt="user"
              class="image"
            />
            <!-- <img
                src="assets/icons/profile/camera.svg"
                alt="user"
                class="middle"
                width="50"
              /> -->
            <div class="middle mt-5">ADD PHOTO</div>
          </button>
        </div>
        <div class="mt-1" *ngIf="uploadImgProg | async; let prog">
          <!-- <progress max="100" class="w-100" [value]="prog">{{ prog }}%</progress> -->
          <progressbar
            class="progress-striped active"
            [value]="prog"
            type="success"
            ><i>{{ prog }}%</i></progressbar
          >
        </div>
        <small class="linebtntext w-100">User ID</small>
        <small class="my-2 text-center">{{ userId }}</small>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <h4 class="col-12 text-center">Edit Account Information</h4>
      <div>
        <form [formGroup]="edit_form">
          <div class="form-group">
            <label for="nickname" class="form-label">Nick name</label>
            <input
              type="text"
              class="form-control"
              formControlName="nickname"
              id="nickname"
              placeholder="Enter nickname"
            />
          </div>
          <div class="form-group">
            <label for="firstName" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              id="firstName"
              placeholder="Enter first name"
            />
          </div>
          <div class="form-group">
            <label for="firstName" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              id="firstName"
              placeholder="Enter last name"
            />
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="email"
              placeholder="view email"
            />
          </div>
          <div class="form-group">
            <label for="occupation" class="form-label">Occupation</label>
            <input
              type="text"
              class="form-control"
              formControlName="occupation"
              id="occupation"
              placeholder="Enter Occupation"
            />
          </div>
          <div class="form-group">
            <label for="ethnic" class="form-label">Chinese Ethnic Group</label>
            <input
              type="text"
              class="form-control"
              formControlName="ethnic"
              id="ethnic"
              placeholder="Enter Occupation"
            />
          </div>
          <div class="form-group">
            <label for="aboutContent" class="form-label">About me </label>
            <textarea
              class="form-control"
              formControlName="desc"
              id="aboutContent"
              placeholder="Enter about yourself and content you've shared"
            ></textarea>
          </div>
          <fieldset class="form-group d-flex flex-row my-1">
            <legend class="h6 fw-light m-0 p-0 col-1">Gender</legend>
            <div class="form-check mx-4">
              <input
                class="form-check-input"
                value="male"
                formControlName="gender"
                type="radio"
                name="gender"
                id="gender-male"
              />
              <label class="form-check-label" for="gender-male"> Male </label>
            </div>
            <div class="form-check ms-2">
              <input
                class="form-check-input"
                value="female"
                type="radio"
                formControlName="gender"
                name="gender"
                id="gender-female"
              />
              <label class="form-check-label" for="gender-female">
                Female
              </label>
            </div>
          </fieldset>
        </form>

        <div class="my-3 row">
          <div class="col-12 col-md-3">
            <button
              class="btn btn-outline-dark rounded-pill w-100"
              (click)="modaltemplate?.openChangeEmailModal()"
            >
              Change Email
            </button>
          </div>
          <div class="col-12 col-md-3">
            <button
              class="btn btn-outline-dark rounded-pill w-100"
              (click)="modaltemplate?.openSendEmailResettModal(edit_form.value)"
            >
              Change Password
            </button>
          </div>
        </div>
        <hr class="border border-1 border-dark" />
        <div class="my-3 row">
          <div class="col-12 col-md">
            <a
              class="btn btn-link link-primary rounded-pill w-100"
              routerLink="/account"
            >
              Go back Account
            </a>
          </div>
          <div class="col-12 col-md">
            <button
              class="btn btn-outline-danger rounded-pill w-100"
              (click)="modaltemplate?.openDeleteConfirmModal()"
            >
              Delete Account
            </button>
          </div>
          <div class="col-12 col-md">
            <button
              class="btn btn-outline-success rounded-pill w-100"
              (click)="modaltemplate?.openSaveAccountModal(edit_form.value)"
            >
              Save Changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
