<div class="container-fluid main">
  <div class="container-fluid" style="padding-top: 80px; padding-bottom: 80px">
    <h2 class="text-center text-light">
      {{
        "projects_overview.projects_overview_meet_the_team_title" | translate
      }}
    </h2>
  </div>
  <div class="container-fluid">
    <div class="row text-center" style="padding-left: 25%; padding-right: 25%">
      <div class="col-lg-4 col-md-7 mb-4" *ngFor="let profile of fakeProfile">
        <img
          src="assets/homepage/{{ profile.profile }}"
          class="rounded-circle"
          style="width: 190px; height: 180px"
        />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="padding-top: 80px; padding-bottom: 80px">
  <h4 class="text-center">Contact Info</h4>
  <p style="padding-left: 30%; padding-right: 30%">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
</div>
