<div class="container-fluid main">
  <div class="container-fluid" style="padding-top: 80px; padding-bottom: 80px">
    <h2 class="text-center text-light">
      {{
        "projects_overview.projects_overview_meet_the_team_title" | translate
      }}
    </h2>
  </div>
  <div class="container-fluid">
    <div class="row text-center" style="padding-left: 25%; padding-right: 25%">
      <div
        class="col-lg-4 col-md-6 my-3 pics"
        *ngFor="let profile of team_profile"
      >
        <img
          src="assets/homepage/{{ profile.picture }}"
          class="rounded-circle"
          style="width: 220px; height: 210px"
        />
        <div class="rounded-circle caption">
          <p class="my-auto name">{{ profile.name }}</p>
          <p class="team">{{ profile.team }}</p>
          <p class="study">{{ profile.study }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div
    class="container-fluid contact"
    style="padding-top: 80px; padding-bottom: 80px"
  >
    <div class="text-center">
      <button
        type="button"
        class="btn btn-primary contact_us text-dark"
        (click)="openContactUsModal()"
      >
        Contact Us
      </button>
    </div>
  </div>
</div>
