<div class="form-group" *ngIf="type == 'event'">
  <h4>Event year and event content</h4>
  <section
    class="my-4"
    *ngFor="let event of controls; let i = index; last as last; first as first"
  >
    <!-- input fields inside the *ngFor, allows user to add/remove input boxes -->
    <div [formGroup]="event" class="border p-2 shadow my-4 rounded">
      <label [for]="'event_year' + i">Year of event</label>
      <input
        [bsConfig]="{
          startView: 'year',
          minMode: 'year',
          dateInputFormat: 'YYYY'
        }"
        bsDatepicker
        class="form-control"
        placeholder="Year"
        [id]="'event_year' + i"
        formControlName="startYear"
      />
      <label [for]="'event_year' + i">Year of event</label>
      <input
        [bsConfig]="{
          startView: 'year',
          minMode: 'year',
          dateInputFormat: 'YYYY'
        }"
        bsDatepicker
        class="form-control"
        placeholder="Year"
        [id]="'event_end_year' + i"
        formControlName="endYear"
      />
      <label [for]="'event_content' + i">Event content/Description</label>
      <textarea
        class="form-control"
        [id]="'event_content' + i"
        rows="5"
        placeholder="Add event details here..."
        formControlName="event"
      ></textarea>
    </div>

    <div *ngIf="isWarning && last" class="text-danger h3">Please add {{ title }}</div>
    <!-- Remove button -->
    <button
      type="button"
      tooltip="Remove this event"
      placement="auto"
      *ngIf="!last"
      class="btn btn-lg btn-outline-danger rounded-pill bg-white text-danger"
      (click)="remove(i)"
    >
      Remove
      <img src="assets/upload/icons-remove.png" class="mx-2" width="30" />
    </button>
    <button
      *ngIf="last"
      type="button"
      (click)="add()"
      tooltip="Add another event"
      placement="auto"
      class="btn btn-lg btn-outline-dark rounded-pill bg-white text-dark mx-3"
      [disabled]="!isWarning"
    >
      Add Event
      <img src="assets/upload/icons-plus.svg" class="mx-2" width="30" />
    </button>
  </section>
</div>

<div class="form-group" *ngIf="type == 'memoir'">
  <h4>Add Memoir, book, or other information</h4>
  <!-- allows uses to add/remove input boxes -->
  <section
    class="my-4"
    *ngFor="let memoir of controls; let i = index; last as last; first as first"
  >
    <div [formGroup]="memoir" class="border p-2 shadow my-4 rounded">
      <!-- memoir title -->
      <label [for]="'memoir_title' + i">Title</label>
      <input
        type="text"
        class="form-control"
        placeholder="Add title here..."
        [id]="'memoir_title' + i"
        formControlName="memoirTitle"
      />
      <br />
      <!-- memoir author -->
      <label [for]="'memoir_author' + i">Author</label>
      <input
        type="text"
        class="form-control"
        placeholder="Add author here.."
        [id]="'memoir_author' + i"
        aria-describedby="basic-addon1"
        formControlName="memoirAuthor"
      />
      <br />
      <!-- memoir content -->
      <label [for]="'memoir_content' + i">Content/Description</label>
      <textarea
        type="text"
        class="form-control"
        [id]="'memoir_content' + i"
        placeholder="Add memoir here..."
        rows="5"
        formControlName="memoirContent"
      ></textarea>
    </div>
    <div *ngIf="isWarning && last" class="text-danger h3">Please add {{ title }}</div>
    <br />
    <!-- removes memoir -->
    <button
      type="button"
      tooltip="Remove this Memoir"
      placement="auto"
      *ngIf="!last"
      class="btn btn-lg btn-outline-danger rounded-pill bg-white text-danger"
      (click)="remove(i)"
    >
      Remove
      <img src="assets/upload/icons-remove.png" class="mx-2" width="30" />
    </button>
    <button
      *ngIf="last"
      type="button"
      (click)="add()"
      tooltip="Add another Memoir"
      placement="auto"
      class="btn btn-lg btn-outline-dark rounded-pill bg-white text-dark mx-3"
      [disabled]="!isWarning"
    >
      Add Memoir
      <img src="assets/upload/icons-plus.svg" class="mx-2" width="30" />
    </button>
  </section>
</div>

<div class="form-group" *ngIf="type == 'image'">
  <h4>Upload a photo</h4>
  <section
    class="my-4"
    *ngFor="
      let imageForm of controls;
      let i = index;
      last as last;
      first as first
    "
  >
    <form [formGroup]="imageForm">
      <img
        alt=""
        [src]="array.at(i).get('imageUrl')!.value"
        height="200"
        width="200"
      />
      <input formControlName="imageUrl" class="d-none" />
      <!-- select photo section -->
      <input
        class="form-control w-75 mb-4"
        type="file"
        (change)="onselectFile($event, i)"
        formControlName="image"
      />

      <label for="imageTitle" class="form-label">Title</label>
      <input
        type="text"
        class="form-control w-75"
        id="imagTitle"
        placeholder="What would you title this image"
        formControlName="imageTitle"
      />

      <label for="imageDetails" class="form-label">Details</label>
      <textarea
        class="form-control w-75"
        id="imageDetails"
        rows="3"
        placeholder="Add a description"
        formControlName="imageDes"
      ></textarea>

      <label for="imageSource" class="form-label">Source</label>
      <textarea
        class="form-control w-75"
        id="imageSource"
        rows="3"
        placeholder="Image Source"
        formControlName="imageSource"
      ></textarea>

      <br />

      <label for="cars">Image category</label>
      <select
        formControlName="imageCategory"
        name="imageCategory"
        id="imageCategory"
      >
        <option value="People">People</option>
        <option value="Media">Media</option>
        <option value="Camps">Camps</option>
        <option value="Other">Other</option>
      </select>

      <br /><br />
  
      <!-- radio buttons for choosing if user wants to include photo in gallery -->
      <br />
      <p>
        Include this image in gallery
        <img
          src="assets/upload/icons-question.png"
          tooltip="Choose to include the photo in website gallery"
          placement="auto"
          class="mx-2 shadow rounded-circle p-1"
          width="30"
        />
      </p>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="galleryNo"
          id="galleryYes"
          value="yes"
          formControlName="imageUpload"
        />
        <!-- yes button -->
        <label class="form-check-label" for="inlineRadio1">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="galleryNo"
          id="galleryNo"
          value="no"
          formControlName="imageUpload"
        />
        <!-- no button -->
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
      <br /><br />
      <div *ngIf="isWarning && last" class="text-danger h3">Please add {{ title }}</div>

      <button
        *ngIf="last"
        type="button"
        (click)="add()"
        tooltip="Add another image"
        placement="auto"
        class="btn btn-lg btn-outline-dark rounded-pill bg-white text-dark mx-3"
        [disabled]="!isWarning"
      >
        Add Image
        <img src="assets/upload/icons-plus.svg" class="mx-2" width="30" />
      </button>
      <button
        type="button"
        tooltip="Remove this image"
        placement="auto"
        *ngIf="!last"
        class="btn btn-lg btn-outline-danger rounded-pill bg-white text-danger"
        (click)="remove(i)"
      >
        Remove
        <img src="assets/upload/icons-remove.png" class="mx-2" width="30" />
      </button>
    </form>
  </section>
</div>
