<div class="container-fluid" style="padding-bottom: 100px">
  <style>
    li {
      list-style: none;
      Padding: 0 0 10px 0;
    }
  </style>
  <h2 class="text-center">
    {{
      "resources.resources" | translate
    }}
  </h2>
  
   <div>
        <div class="row">
      <div class="col py-3">
        <h4>English Links</h4>
        <ul>
          <li class="bg-light">
            <a href="https://factsanddetails.com/china/" target="_blank">Facts and Details, China: </a><br>
            <a href="https://factsanddetails.com/china/cat2/sub6/item1153.html" target="_blank">Hundred Flowers Campaign</a> </li>
          <li>
            <a href="https://www.newworldencyclopedia.org/entry/China#The_People.27s_Republic_of_China_and_the_Republic_of_China_.281949-Present.29" target="_blank">New World Encyclopedia, China:</a><br>
            <a href="https://www.newworldencyclopedia.org/entry/History_of_Chinese_art#Communist_art_.281950-1980s.29" target="_blank">History of Chinese Art</a></li>
          <li>
            <a href="https://infogalactic.com/" target="_blank">Infogalactic Planetary Knowledge Core:</a><br>
            <a href="https://infogalactic.com/info/Anti-Rightist_Movement" target="_blank">Anti-Rightist Movement</a></li>
          <li>
            <a href="https://www.thefreelibrary.com/" target="_blank">The Free Library:</a><br>
            <a href="https://www.thefreelibrary.com/Chinese+intellectuals%27+ordeal%3A+the+anti-rightist+campaign+of+1957...-a0250579429" target="_blank">Chinese intellectuals' ordeal: the anti-rightist campaign of 1957 revisited</a></li>
          <li>
            <a href="https://www.rfa.org" target="_blank">Radio Free Asia:</a><br>
            <a href="https://www.rfa.org/english/china/china_antirightist-20070619.html" target="_blank">
Fifty Years On, Deaths, Persecution of Anti-Rightist Era Still Taboo in China- Chinese </a></li>
        <li>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
        </ul>
      <ul>
          <li>
            <a href="https://www.britannica.com/biography/Mao-Zedong" target="_blank">Mao Zedong, Chinese leader</a></li>
          <li>
            <a href="https://www.biography.com/political-figure/mao-tse-tung" target="_blank">Mao Tse-tung, Biography (1893–1976)</a></li>
          <li>
            <a href="https://schoolshistory.org.uk" target="_blank">School History</a><br>
            <a href="https://schoolshistory.org.uk/topics/world-history/mao-china-c-1930-1976/" target="_blank">Mao Zedong: China, c.1930–1976</a></li>
          <li>
            <a href="https://batangninjaturtle.weebly.com/mao-zedong.html" target="_blank">Mao Zedong</a><br></li>

          <li>
            <a href="https://supchina.com/2022/01/05/chinas-five-anti-campaign-of-1952/" target="_blank">
              Three-Anti/Five-Anti Campaigns 1952</a></li>
          <li>
            <a href="https://chinesehistoryforteachers.omeka.net/" target="_blank">Chinese History For Teachers:</a><br>
            <a href="https://chinesehistoryforteachers.omeka.net/exhibits/show/chinese-land-reform/land-reform-overview" target="_blank">History For Teachers:
Chinese Land Reform (土地改革) Overview</a></li>
        <li>
            <a href="https://chinesehistoryforteachers.omeka.net/exhibits/show/the-cultural-revolution/cultural-revolution-overview" target="_blank">The Cultural Revolution Overview（文化大革命）</a></li>
          <li>
            <a href="https://www.youtube.com/watch?v=pjCYb6sL0mM" target="_blank">反右運動 The anti-rightist movement in communist China</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
        </ul>
      </div>
  
   <!-- Chinese starts -->       
      <div class="col py-3">
        <h4>Chinese Links</h4>
        <ul>     
          <li><a href="http://mjlsh.usc.cuhk.edu.hk/Book.aspx?cid=4&tid=3139">右派的八百万种死法－－作者：多多</a></li>
          <li class="bg-light">
          </li>
        <li>
        <a href="https://www.youtube.com/watch?v=pjCYb6sL0mM" target="_blank">反右運動 The anti-rightist movement in communist China</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">CN</a></li>
                    <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
                 <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
                    <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
          <li>
            <a href="" target="_blank">EN</a><br>
            <a href="" target="_blank">EN</a></li>
        </ul>
      </div>
    </div>
     
     
     
  <div>
        <div class="row">
      <div class="col py-3">
        <h4>English Links</h4>
      </div>
      <div class="col py-3">
        <h4>Chinese Links</h4>
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
       <a href="https://factsanddetails.com/china/" target="_blank">Facts and Details, China: </a><br>
       <a href="https://factsanddetails.com/china/cat2/sub6/item1153.html" target="_blank">Hundred Flowers Campaign</a>
      </div>
      <div class="col py-3">
      <a href="http://mjlsh.usc.cuhk.edu.hk/Book.aspx?cid=4&tid=3139">右派的八百万种死法－－作者：多多</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
             <a href="https://www.newworldencyclopedia.org/entry/China#The_People.27s_Republic_of_China_and_the_Republic_of_China_.281949-Present.29">New World Encyclopedia, China:</a><br>

        <a href="https://www.newworldencyclopedia.org/entry/History_of_Chinese_art#Communist_art_.281950-1980s.29">History of Chinese Art</a>
      </div>
      <div class="col bg-light py-3">
           <a href="https://www.newworldencyclopedia.org/entry/China#The_People.27s_Republic_of_China_and_the_Republic_of_China_.281949-Present.29">Chinese link</a><br>

        
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
    </div>
    <div class="row">
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
    </div>
    <div class="row">
      <div class="col py-3">
        <a href="url">link text</a>
      </div>
      <div class="col bg-light py-3">
        <a href="url">link text</a>
      </div>
    </div>
  </div>
</div>
